

<html>
    <h1>Heat Map Generator</h1>
    <form action="/output" method="POST">
      <select id="year" name="Year">
        <option value="2020">2020</option>
      </select>
      <select id="Month" name="Month">
        {% for month in range(1,13) %}
          <option value={{month}}>{{month}}</option>
        {% endfor %}
      </select>
      <select id="Day" name="Day">
        {% for day in range(1,31) %}
          <option value={{day}}>{{day}}</option>
        {% endfor %}
      </select>
      <select id="Hour" name="Hour">
        {% for hour in range(0,24) %}
          <option value={{hour}}>{{hour}}</option>
        {% endfor %}
      </select>
      <p><input type = "submit" value = "submit" /></p>
    </form>
  </html>