{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='styles/base-styles.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='./theme_controller.js') }}"></script>
{% endblock%}
<!-- {% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %} -->
<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<link href="{{ url_for('static', filename='highlight/styles/default.min.css') }}" rel="stylesheet" /> -->
{% block content %}
<div>
    <div class="image-header">
        <img src="../../static/images/city_of_melbourne_skyline.jpg" alt="Melbourne Skyline" style="height: 20em; width: 100%">
        <div class="bottom-left-text">
            Learn more about the City of Melbourne Open Data Playground, and the team behind it
        </div>
    </div>
    <div class="container" style="color: var(--default-text-color);">
        <section class="hero">
            <div class="has-text-centered">
                <p class="subtitle" style="color: var(--default-text-color); font-weight:700; padding: 1em 1em">
                    Overview
                </p>
            </div>
            <section style="float: left;">
                <section class="panel default-panel-background">
                    <div class="panel-block">
                        <div class="block" style="flex-grow: 1;">
                            <div class="subtitle content" style="color: var(--default-text-color);">
                                <div class="table-container">
                                    <table id="contact-table" style="border: 1px;">
                                        <tr class="row row-bottom-border"><td>Melbourne Open Data Playground (MOP) is a capstone project sponsored by <a href="https://deakin.edu.au" target="_blank">Deakin University</a>.</td></tr>
                                        <tr class="row row-bottom-border"><td>Since Covid there is more demand for data by the business community to support their decision making. This project is meant to align to two strategic documents from Melbourne City Council:</p>
                                            <ul>
                                                <li>The <a href = "https://participate.melbourne.vic.gov.au/economic-development-strategy/draft-strategy-overview" target="_blank">Economic Development Strategy</a> to be a digitally-connected city.</li>
                                                <li>The <a href = "https://www.melbourne.vic.gov.au/about-council/vision-goals/pages/council-plan.aspx" target="_blank">2021-2025 Council Plan</a> which outlines the specific objective of delivering programs that will build digital literacy skills and capabilities.</li>
                                            </ul></td></tr>
                                        <tr class="row row-bottom-border"><td>The <a href = "https://www.melbourne.vic.gov.au/Pages/home.aspx" target="_blank">City of Melbourne</a> is an Australian leader in Open Data since 2014. The latest research and local user engagement has identified a gap where users would like to learn more abut how to access the Open Data and how to gain insights from the data to build apps and solve city problems.</td></tr>
                                        <tr class="row"><td>This project aims to deliver proof-of -concept examples on how calls to Open Data API can be made to deliver a variety of solutions.</p></td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <section>
                <div class="has-text-centered">
                    <p class="subtitle" style="color: var(--default-text-color); font-weight:700; padding: 1em 1em">
                        How to use the website
                    </p>
                </div>
            </section>
            <section style="float: left;">
                <section class="panel default-panel-background">
                    <div class="panel-block">
                        <div class="block" style="flex-grow: 1;">
                            <div class="subtitle content" style="color: var(--default-text-color);">
                                <div class="table-container">
                                    <table id="contact-table" style="border: 1px;">
                                        <tr class="row row-bottom-border"><td>Use the search bar to search for datasets available on <a href="https://data.melbourne.vic.gov.au/" target="_blank">Melbourne Open Data</a> website or for use cases of the data.</td></tr>
                                        <tr class="row row-bottom-border"><td>The use cases have different difficulty levels. The different categories are:</li>
                                            <ul>
                                                <li><b>Beginner:</b> May not have a data science or coding background, but are interested in leveraging the data for business insights.</li>
                                                <li><b>Intermediate:</b> Have data science and analysis skills, and a bit of coding, but not at an advanced level. </li>
                                                <li><b>Advanced:</b> Professional data scientists who want purpose-built frameworks such as AI and ML tools that leverage the data. </li>
                                            </ul></td></tr>
                                        <tr class="row row-bottom-border"><td>The use cases will detail,  with code snippets and instructions, the steps taken: from accessing the data, to visualising it.</td></tr>
                                        <tr class="row"><td>For more details on the datasets, click on the tile to go to City of Melbourne's website.</td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <section>
                <div class="has-text-centered">
                    <p class="subtitle" style="color: var(--default-text-color); font-weight:700; padding: 1em 1em">
                        Contributors
                    </p>
                </div>
            </section>
            <section style="float: left;">
                <section class="panel default-panel-background">
                    <div class="panel-block">
                        <div class="block" style="flex-grow: 1;">
                            <div class="subtitle content" style="color: var(--default-text-color);">
                                <div class="table-container">
                                    <table id="contact-table" style="border: 1px;">
                                        <tr class = "row row-bottom-border">
                                            <td>
                                                <div class="subtitle content" style="color: var(--default-text-color);">
                                                    <p style="font-weight: 600; text-align: center;">2023</p>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                                                        <u> Trimester 1</u><br>
                                                    </div>
                                                    <div class="column">
                                                        <u>Trimester 2</u><br>
                                                    </div>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                                                        <b>Mentor:</b><br>
                                                        Luxing Yang<br>
                                                    </div>
                                                    <div class="column">
                                                        <b>Mentors:</b><br>
                                                        Atul Sajjanhar<br>
                                                        Azadeh Ghari Neiat<br>
                                                    </div>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                                                        <b>Students:</b><br><br>
                                                        <b>Project Team</b><br>
                                                        Angie Hollingworth | <i>Senior Project Leader</i><br>
                                                        Tate Remzi-Johnson | <i>Senior Project Leader</i><br><br>
                                                        <b>Data Science and Engineering Team</b><br>
                                                        Angie Hollingworth | <i>Senior Team Leader</i><br>
                                                        Vinit Karunakar Shetty | <i>Senior Assistant Team Leader</i><br>
                                                        Abhishek Bajaj | <i>Junior Assistant Team Leader</i><br>
                                                        Vaibhav Kashyap | <i>Junior Assistant Team Leader</i><br>
                                                        Adam James Bullivant | <i>Senior</i><br>
                                                        Andrew Tilling | <i>Senior</i><br>
                                                        Tuan Minh Vu | <i>Senior</i><br>
                                                        Kruthi Shetty | <i>Junior</i><br>
                                                        Keefe Euler Alpay | <i>Junior</i><br>
                                                        Nathan Graham Clee | <i>Junior</i><br>
                                                        Shanuk Julian Devamulla | <i>Junior</i><br>
                                                        Siyu Ai | <i>Junior</i><br>
                                                        Steven Nguyen | <i>Junior</i><br>
                                                        Amy Tran | <i>Junior</i><br><br>
                                                        <b>Web and App Development Team</b><br>
                                                        Tate Remzi-Johnson | <i>Senior Team Leader</i><br>
                                                        Matthew Hall | <i>Senior</i><br>
                                                        Pramodya Sathsarani Senanayaka Jayasundara Senanayaka | <i>Senior</i><br>
                                                        Sharini Mahisha De Mel | <i>Senior</i><br>
                                                        Jiahao Pan | <i>Junior</i><br>
                                                        Mihili Isurika Geeganage Geeganagama Arachchige | <i>Junior</i><br>
                                                        Roshan Jose | <i>Junior</i><br>
                                                        Syed Kareemullah | <i>Junior</i><br>
                                                        Muhammed Nihal | <i>Junior</i><br><br>
                                                        <b>Cybersecurity Team</b><br>
                                                        Angie Hollingworth | <i>Senior Team Leader</i><br>
                                                        Izaz Ishaque | <i>Junior Team Leader</i><br>
                                                        Lucas Kocon | <i>Junior</i><br>
                                                        Zachary Max Kein | <i>Junior</i><br><br>
                                                    </div>
                                                    <div class="column">
                                                        <b>Students:</b><br><br>
                                                        <b>Project Team</b><br>
                                                        Barry Chen | <i>Senior Project Leader</i><br>
                                                        Mollie Fernandez | <i>Junior Project Leader</i><br><br>
                                                        <b>Data Science and Engineering Team</b><br>
                                                        Shanuk Julian Devamulla | <i>Senior Team Leader</i><br>
                                                        Keefe Euler Alpay | <i>Senior Team Leader</i><br>
                                                        Vaibhav Kashyap | <i>Senior Team Leader</i><br>
                                                        Nathan Graham Clee | <i>Senior</i><br>
                                                        Kruthi Shetty | <i>Senior</i><br>
                                                        Siyu Ai | <i>Senior</i><br>
                                                        Steven Nguyen | <i>Senior</i><br>
                                                        Amy Tran | <i>Senior</i><br>
                                                        Jackson Tran | <i>Junior</i><br>
                                                        Siju Deng | <i>Junior</i><br>
                                                        Prathibha Kandawala | <i>Junior</i><br><br>
                                                        <b>Web and App Development Team</b><br>
                                                        Jiahao Pan | <i>Senior Team Leader</i><br>
                                                        Syed Kareemullah | <i>Senior</i><br>
                                                        Yashika Arora | <i>Junior & Co-leader</i><br>
                                                        Ramandeep Singh | <i>Junior</i><br>
                                                        Amulya Gyawali | <i>Junior</i><br><br>
                                                        <b>Cybersecurity Team</b><br>
                                                        Izaz Ishaque | <i>Senior Team Leader</i><br>
                                                        Michael Wei Zhang | <i>Senior Team Leader</i><br>
                                                        Amby Sarrazin | <i>Jonior Team Leader</i><br>
                                                        Mariam Kassar | <i>Jonior Team Leader</i><br>
                                                        Roshan Jose| <i>Senior</i><br>
                                                        Muhammed Nihal | <i>Senior</i><br>
                                                        Basilia Carmel Sethu | <i>Senior</i><br>
                                                        Zachary Max Kein | <i>Senior</i><br>
                                                        Antony Raju | <i>Senior</i><br>
                                                        Amal Paul| <i>Senior</i><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="row row-bottom-border">
                                            <td>
                                                <div class="subtitle content" style="color: var(--default-text-color);">
                                                    <p style="font-weight: 600; text-align: center;">2022</p>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                                                        <u>Trimester 1</u><br>
                                                    </div>
                                                    <div class="column">
                                                        <u>Trimester 2</u><br>
                                                    </div>
                                                    <div class="column">
                                                        <u>Trimester 3</u><br>
                                                    </div>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                                                        <b>Mentor:</b><br>
                                                        Justin Rough<br>
                                                    </div>
                                                    <div class="column">
                                                        <b>Mentors:</b><br>
                                                        Luxing Yang<br>
                                                        Valeh Moghaddam<br>
                                                    </div>
                                                    <div class="column">
                                                        <b>Mentor:</b><br>
                                                        Hourieh Khalajzadeh<br>
                                                    </div>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                                                        <b>Students:</b><br><br>
                                                        <b>Project Team</b><br>
                                                        Steven Tuften | <i>Senior Project Leader</i><br>
                                                        Mollie Fernandez | <i>Junior Assistant Project Leader</i><br><br>
                                                        <b>Data Science and Engineering Team</b><br>
                                                        Alex Vuong | <i>Senior Team Leader</i><br>
                                                        Bree Margaret McLennan | <i>Junior Co-Leader</i><br>
                                                        Brendan Patrick Richards | <i>Junior Co-Leader</i><br>
                                                        Julian Cape | <i>Junior Co-Leader</i><br>
                                                        Anugra Sara Thomas | <i>Senior</i><br>
                                                        Mark Brooksby | <i>Senior</i><br>
                                                        Nitish Kumar Neelala Harish | <i>Junior</i><br>
                                                        Pramodya Sathsarani Senanayaka | <i>Junior</i><br>
                                                        Ryan Daniel Waites | <i>Junior</i><br><br>
                                                        <b>Design Team</b><br>
                                                        Anthony Todaro | <i>Senior Team Leader</i><br>
                                                        Bradie Robinson | <i>Senior Co-Leader</i><br>
                                                        Kishen Makanji Patel | <i>Senior</i><br>
                                                        Bansi Baiju Patel | <i>Junior</i><br>
                                                        Harrison Corin Padraic Murphy | <i>Junior</i><br>
                                                        Imani Maina | <i>Junior</i><br>
                                                        Jacob Djaelani | <i>Junior</i><br><br>
                                                        <b>Web and App Development Team</b><br>
                                                        Michael John Leen | <i>Junior Team Leader</i><br>
                                                        Lakshmi Meghana Kethiri | <i>Senior</i><br>
                                                        Jay Nilaweera | <i>Junior</i><br>                                                     
                                                        Matthew Hall | <i>Junior</i><br>
                                                        Muhammad Sohaib bin Kashif | <i>Junior</i><br>
                                                        Shlomi Moreh | <i>Junior</i><br>
                                                        Tianqi Zhou | <i>Junior</i><br>
                                                        Yi Yang Yu | <i>Junior</i><br>
                                                    </div>
                                                    <div class="column">
                                                        <b>Students:</b><br><br>
                                                        <b>Project Team</b><br>
                                                        Mollie Fernandez | <i>Senior Project Leader</i><br>
                                                        Abosede Alli | <i>Senior Assistant Project Leader</i><br><br>
                                                        <b>Data Science and Engineering Team</b><br>
                                                        Bree Margaret McLennan | <i>Senior Team Leader</i><br>
                                                        Julian Cape | <i>Senior Co-Leader</i><br>
                                                        Brendan Patrick Richards | <i>Senior</i><br>
                                                        Ryan Daniel Waites | <i>Senior</i><br>
                                                        Weiren Kong | <i>Senior</i><br>                                
                                                        Andrew Tilling | <i>Junior</i><br>
                                                        Barkha Javed | <i>Junior</i><br>
                                                        Hanna Smith | <i>Junior</i><br>
                                                        Jack Pham | <i>Junior</i><br><br>
                                                        <b>Design Team</b><br>
                                                        Samuel Spice | <i>Senior Co-Leader</i><br>
                                                        Stephen Brackenridge | <i>Junior Co-Leader</i><br>
                                                        Bansi Baiju Patel | <i>Senior</i><br>
                                                        Irmani Maina | <i>Senior</i><br>
                                                        Jacob Diaelani | <i>Senior</i><br>                            
                                                        Harrison Corin Padraic | <i>Senior</i><br>
                                                        Muhammad Hassan Peerzada | <i>Junior</i><br><br>
                                                        <b>Web and App Development Team</b><br>
                                                        Michael John Leen | <i>Senior Team Leader</i><br>
                                                        Muhammad Sohaib bin Kashif | <i>Senior Co-Leader</i><br>
                                                        Shlomi Moreh | <i>Senior</i><br>
                                                        Tianqi Zhou | <i>Senior</i><br>
                                                        Yi Yang Yu | <i>Senior</i><br>
                                                        Caleb Webb | <i>Junior</i><br>
                                                        Marcel dos Santos Gebara | <i>Junior</i><br>
                                                    </div>
                                                    <div class="column">
                                                        <b>Students:</b><br><br>
                                                        <b>Project Team</b><br>
                                                        Caleb Webb | <i>Senior Project Leader</i><br>
                                                        Hannah Smith | <i>Senior Project Leader</i><br><br>
                                                        <b>Data Science and Engineering Team</b><br>
                                                        Hannah Smith | <i>Senior Team Leader</i><br>
                                                        Mick Wiedermann | <i>Junior Assistant Team Leader</i><br>
                                                        Barkha Javed | <i>Senior</i><br>
                                                        Jack Pham | <i>Senior</i><br>
                                                        Adam James Bullivant | <i>Junior</i><br>
                                                        Angie Hollingworth | <i>Junior</i><br>
                                                        Basilia Carmel Sethu | <i>Junior</i><br><br>
                                                        <b>Web & App Development Team</b><br>
                                                        Caleb Webb | <i>Senior Team Leader</i><br>
                                                        Jay Nilaweera | <i>Senior</i><br>
                                                        Marcel dos Santos Gebara | <i>Senior</i><br>
                                                        Pramodya Sathsarani Senanayaka | <i>Senior</i><br>
                                                        Zhengmin Zhu | <i>Senior</i><br>
                                                        Tate Remzi-Johnson | <i>Junior</i><br>
                                                        William McLinden | <i>Junior</i><br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="row row-bottom-border">
                                            <td>
                                                <div class="subtitle content" style="color: var(--default-text-color);">
                                                    <p style="font-weight: 600; text-align: center;">2021</p>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                                                        <u>Trimester 1</u>
                                                    </div>
                                                    <div class="column">
                                                        <u>Trimester 2</u>
                                                    </div>
                                                    <div class="column">
                                                        <u>Trimester 3</u>
                                                    </div>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                                                        <b>Mentor:</b><br>
                                                        Daniel Ma<br>
                                                    </div>
                                                    <div class="column">
                                                        <b>Mentor:</b><br>
                                                        Sergey Polyakovskiy<br>
                                                    </div>
                                                    <div class="column">
                                                        <b>Mentor:</b><br>
                                                        Fatemeh Ansarizadeh<br>
                                                    </div>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                                                        <b>Students:</b><br>
                                                        Sivaram Krishnan <br>
                                                        Deji Ladeinde<br>
                                                        Nikita Vijay Wadekar<br>
                                                        Jason Tsitsopoulos<br>
                                                        Oscar Wu<br>
                                                        Neet Patel<br>
                                                        Miriam Zhu<br>
                                                        Rmaamatya<br>
                                                    </div>
                                                    <div class="column">
                                                        <b>Students:</b><br>
                                                        Jason Tsitsopoulos<br>
                                                        Oscar Wu<br>
                                                        Neet Patel<br>
                                                        Miriam Zhu<br>
                                                        Albert Hon<br>
                                                        Josh Sansom-Sherwill<br>
                                                    </div>
                                                    <div class="column">
                                                        <b>Students:</b><br>
                                                        Albert Hon<br>
                                                        Josh Sansom-Sherwill<br>
                                                        Tithra Chap<br>
                                                        Ngoc (Andy) Dung Huynh<br>
                                                        William Hebblewhite<br>
                                                        Shalom Chin<br>
                                                        Angus Maiden<br>
                                                        Alex Vuong<br>
                                                        Steven Tuften<br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="row">
                                            <td>
                                                <div class="subtitle content" style="color: var(--default-text-color);">
                                                    <p style="font-weight: 600; text-align: center;">2020</p>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                                                    </div>
                                                    <div class="column">
                                                        <u>Trimester 2</u>
                                                    </div>
                                                    <div class="column">
                                                        <u>Trimester 3</u>
                                                    </div>
                                                </div>
                                                <div class="columns">
                                                    <div class="column">
                    
                                                    </div>
                                                    <div class="column">
                                                        <b>Students:</b><br>
                                                        Pavan Yellapu <br>
                                                        Manideep Manda<br>
                                                        Ausaf Syed<br>
                                                        Pranali Jayawant Mandhare<br>
                                                        Avi Jindal<br>
                                                        Ozween Silvanus Dcunha<br>
                                                        Mahad Rashid<br>
                                                        Praniha Reddyvari<br>
                                                    </div>
                                                    <div class="column">
                                                        <b>Students:</b><br>
                                                        Sivaram Krishnan <br>
                                                        Deji Ladeinde<br>
                                                        Hung Son<br>
                                                        Avin Fernando<br>
                                                        Jasmitha Venna<br>
                                                        Hannah Catri<br>
                                                        Kazimm<br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </div>
</div>
{% endblock %}
