{% extends 'base.html' %}

<!-- {% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %} -->


{% block content %}
<div class="hero-background-container">
    <div class="hero-background">
    </div>
</div>
<div class="container">
    <section class="hero">
        <div class="hero-body has-text-centered">
            <h1 class="title has-text-white">Contact</h1>
        </div>
            <section class="panel has-background-white">
                <div class="panel-block">
                    <div class="block" style="flex-grow: 1">
                        <div class="subtitle content">
                            <p>We would love to hear from you! </p>
                            <p>Whether you have a question about features, the data or anything else, our team at Deakin University is ready to answer your questions. </p>
                            <p>Connect with anyone from the Deakin Industry Student Capstone (DISC) team <a href="https://www.discprojects.com/team" target="_blank">here</a>. </p>
                            <p>If you would like to collaborate with Deakin University on Industry Projects, please visit <a href="https://www.discprojects.com/" target ="_blank"> DISC </a> or sign up as an Industry Partner <a href="https://www.discprojects.com/collaborate" target="blank"> here. </a></p>
                        </div>  
                    </div>
                </div>
            </section>
    </section>
</div>
{% endblock %}