/* Variables*/

:root {   
  --medium-spring-green: #2af598;
  --medium-aquamarine: #22e4ac;
  --turquoise: #1bd7bb;
  --robin-egg-blue: #14c9cb;
  --pacific-blue: #0fbed8;
  --cyan-process: #08b3e5;

  --go-green: #08af64;
  --persian-green: #14a38e;
  --viridian-green: #0f9295;
  --blue-sapphire: #056b8a;
  --smoky-black: #121212;
  --missing-color: #3a3a3a;

  --color-one: var(--medium-spring-green);
  --color-two: var(--medium-aquamarine);
  --color-three: var(--turquoise);
  --color-four: var(--robin-egg-blue);
  --color-five: var(--pacific-blue);
  --color-six: var(--cyan-process);
--default-text-color: #000000;
}

.page-container {
  background-image: linear-gradient(
    var(--color-six),
    var(--color-four), 
    var(--color-two), 
    var(--color-two), 
    var(--color-four), 
    var(--color-six)
    );
}

.page-heading {
  color: #ffffff;
  font-size: 28pt;
  font-weight: bold;
  padding: 30px;
  text-align: center;
}

.theme-btn{
  background-color: var(--color-six);
  color: var(--default-text-color);
  border: none;
  font-size: 16pt;
}

.image-header{
  position: relative;
  text-align: center;
  color:white ;
}

.bottom-left-text{
  font-size: 14pt;
  font-weight: 500;
  position: absolute;
  bottom: 8px;
  width: 18em;
  left: 16px;
  text-align: left;
  overflow-wrap: break-word;
}

.grid-container {
  grid-template-columns: auto auto;
  display: grid;
}

.column {
  padding-left: 20px;
  padding-right: 20px;
}

.line {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 2px;
  border-bottom: 1px solid #08af64;
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.easy {
  background-color: #2af598;
  opacity: 50%;
}

.intermediate {
  background-color: #2af598;
  opacity: 70%;
}

.advanced {
  background-color: #2af598;
  opacity: 90%;
}

.bubble {
  height: fit-content;
  width: fit-content;
  background-color: #2af598;
  border-radius: 8%;
  color: white;
  padding: 2px 5px 2px 5px;
}