/* Variables*/

:root {   
  --medium-spring-green: #2af598;
  --medium-aquamarine: #22e4ac;
  --turquoise: #1bd7bb;
  --robin-egg-blue: #14c9cb;
  --pacific-blue: #0fbed8;
  --cyan-process: #08b3e5;

  --go-green: #08af64;
  --persian-green: #14a38e;
  --viridian-green: #0f9295;
  --blue-sapphire: #056b8a;
  --smoky-black: #121212;
  --missing-color: #3a3a3a;

  --color-one: var(--medium-spring-green);
  --color-two: var(--medium-aquamarine);
  --color-three: var(--turquoise);
  --color-four: var(--robin-egg-blue);
  --color-five: var(--pacific-blue);
  --color-six: var(--cyan-process);
  --default-text-color: #000000;
  --default-panel-color: #ffffff;
  --default-link-color: #0000EE;
  background-image: linear-gradient(
    var(--color-six),
    var(--color-four), 
    var(--color-two), 
    var(--color-two), 
    var(--color-four), 
    var(--color-six)
    );
    color: var(--default-text-color);
}

.page-container {
  background-image: linear-gradient(
    var(--color-six),
    var(--color-four), 
    var(--color-two), 
    var(--color-two), 
    var(--color-four), 
    var(--color-six)
    );
}

.page-heading {
  color: #ffffff;
  font-size: 28pt;
  font-weight: bold;
  padding: 30px;
  text-align: center;
}

.theme-btn{
  background-color: var(--color-six);
  color: var(--default-text-color);
  border: none;
  font-size: 16pt;
}

.image-header{
  position: relative;
  text-align: center;
  color:white ;
}

.bottom-left-text{
  font-size: 14pt;
  font-weight: 500;
  position: absolute;
  bottom: 8px;
  width: 18em;
  left: 16px;
  text-align: left;
  overflow-wrap: break-word;
}

.grid-container {
  grid-template-columns: auto auto;
  display: grid;
}

.column {
  padding-left: 20px;
  padding-right: 20px;
}

.line {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 1px;
  border-bottom: 1px solid #08af64;
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.beginner {
  background-color: #87ffc9;
}

.intermediate {
  background-color: #4ffdaf;
}

.advanced {
  background-color: #00ff8c;
}

.bubble {
  height: fit-content;
  width: 7em;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  padding: 2px 5px 2px 5px;
  text-align: center;
}

.bubble a {
  color: white;
}

#show-more-use-cases {
  text-align: center;
}

#show-more-use-cases a {
  text-decoration: none;
  color: #00ff8c;
}

#show-more-datasets {
  text-align: center;
}

#show-more-datasets a{
  text-decoration: none;
  color: #00ff8c;
}


.level-col {
  width: 25%;
}

.link-col.no-underline-link a {
  text-decoration: none;
  color: #00da78;
}

.usecase-col.no-underline-link a {
  text-decoration: none;
  color:#000000;
}

.usecase-col.no-underline-link a:hover {
  text-decoration: none;
  color:#000000;
}

.link-col.no-underline-link a:hover {
  text-decoration: none;
  color: var(--default-text-color);
}

.content a:hover {
  color: var(--default-link-color);
  text-decoration: underline;
}

.content a {
  color: var(--default-link-color);
}

.row-bottom-border {
  border-bottom: thin solid;
  border-color: #00cc70;
}

.row-bottom-border-usecase {
  border-bottom: thin solid;
  border-color: #00cc70;
}

.row-bottom-border-dataset {
  border-bottom: thin solid;
  border-color: #00cc70;
}

.default-panel-background {
  background-color: var(--default-panel-color);
}

/* Contact Page */
.contact-input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 22.5em;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  color: var(--default-text-color);
}

.input-title {
  color: var(--default-text-color);
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .beginner {
    background-color: #87ffc9;
  }
  .intermediate {
    background-color: #4ffdaf;
  }
  .advanced {
    background-color: #00ff8c;
  }
  .usecase-col {
    font-size: 0;
  }
  .usecase-col a {
    font-size: initial;
  }
}