

<html>
  <form action="/output" method="POST" class="form-horizontal">
    <h2>Animated Heat Map Generator for Melbourne City</h2>
	  <p>Select a date to generate a hourly heatmap annimation for Melbourne City Pedestrian Traffic</p>
	<div id="wrapper">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Heat Map Parameters</legend>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Year</label>
      <div class="col-md-4">
        <select id="year" name="Year">
          <option value="2020">2020</option>
        </select>
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Month</label>
      <div class="col-md-4">
        <select id="Month" name="Month">
          {% for month in range(1,13) %}
            <option value={{month}}>{{month}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Day</label>
      <div class="col-md-4">
        <select id="Day" name="Day">
          {% for day in range(1,31) %}
            <option value={{day}}>{{day}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    
    <p><input type = "submit" value = "Submit" /></p>
    </fieldset>
	</div>
  </form>
</html>