<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    </script> 

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				MELBOURNE CITY PEDESTRIAN TRAFFIC HEATMAPS
			</h3>
			<dl>
				<dt>
					Description
				</dt>
				
				<dd>
					We used historical records of pedestrian <span>counts in the city of</span> Melbourne <span>captured through thermal and laser-based sensors from</span>
				</dd>
				<dd>
					multiple locations throughout the city.
				</dd>
			</dl> 
			<button type="button" onclick="history.back()" class="btn btn-success">
				Reset
			</button>
		</div>
    </div>
    <img src={{link}} alt="This is an animated gif image, but it does not move"/>
</div>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>