<form class="form-horizontal" action="/data" method = "POST">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Form Name</legend>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
      <div class="col-md-4">
        <select id="selectbasic" name="selectbasic" class="form-control">
          <option value="2020-11-20 08">2020-11-20 08</option>
          <option value="2020-11-20 08">2020-11-20 08</option>
        </select>
      </div>
    </div>
    
    <p><input type = "submit" value = "Submit" /></p>
    
    </fieldset>
    </form>
    