{% extends "base.html" %}

{% block title %}Vehicle Classification{% endblock %}

{% block content %}
    <h2 class="section_heading">VEHICLE CLASSIFICATION</h2>
    <br>
    <div class="main_cent_text">
        <p>Information on what we are doing with the Vehicle stuff</p>
        <br>

        <div class="project_text">    
            <p>
                Projects:
                <br>
                <li><a href="/vehicle_detect"> Vehicle Detection (WIP - JS code from old student)  </a></li>
                <br>

            </p>
    </div>
{% endblock %}