{% extends "base.html" %}

{% block title %}Chatbot{% endblock %}

{% block content %}
    <h2 class="section_heading">CHATBOT</h2>
    <br>
    <div class="main_cent_text">
        <p>
            Our teams chatbot is designed to assist Melbourne commuters with public transport
            <br>
            planning, providing an intuitive chat interface for querying route, schedule, and accessibility 
            <br>
            information for trains, trams,and buses. It integrates real-time data and mapping features, 
            <br>
            making it a versatile tool for navigating the city. It is built primarily using the RASA
            <br>
            conversational platform, using GTFS data supplied from Public Transport Victoria.
        </p>

        <div class="project_text">
            <p>
                <u>
                    <strong>Key Features</strong>
                </u>
            </p>
            
            <p>
                <strong>Route Planning and Scheduling:</strong>
                <ul>
                    <li>
                        The chatbot helps users find the best routes, including options with minimal stops or the quickest travel times.
                    </li>
                    <li>
                        It provides real-time schedule updates for trains, trams, and buses, ensuring users have up-to-date information.
                    </li>
                </ul>
            </p>

            <p>
                <strong>Interactive Mapping:</strong>
                <ul>
                    <li>
                        The bot generates maps for public transport stops, allowing users to view tram, train, or bus station locations.
                    </li>
                    <li>
                        Directions from user-provided locations to destinations are supported with custom route maps.
                    </li>  
                </ul>
            </p>
            
            <p>
                <strong>Accessibility Support:</strong>
                <ul>
                    <li>
                        Users can inquire about station accessibility features, such as lifts or parking, or find stations with specific facilities.
                    </li> 
                </ul>
            </p>
    </div>
{% endblock %}