{% extends "base.html" %}

{% block title %}Vehicle Detection{% endblock %}

{% block content %}
    <h2 class="section_heading">Vehicle Dectection</h2>
    <br>
    <br>

 <!-- WIP Currently doesnt work - copied from old index file.   -->
    <body >
        <!-- Main container for the content -->
        <div class="container">

    
            <!-- Form for uploading files, like images or videos -->
            <form id="upload-form" enctype="multipart/form-data">
                <!-- Input for selecting files, allows only images or videos -->
                <input type="file" id="file-input" name="file" accept="image/*,video/*">
                <!-- Button to submit the form and upload the selected file -->
                <button type="submit">Upload</button>
            </form>
    
            <!-- Section to display error messages, hidden by default -->
            <div id="error-message" style="color: red; display: none;"></div>
    
            <!-- Output section to show the original and detected images -->
            <div id="output">
                <br>
                <!-- Heading for the original input image -->
                <h2>Original Input:</h2>
                <!-- Placeholder for showing the original image, hidden by default -->
                <img id="input-image" src="#" alt="Original Image" style="display: none;">
                <!-- Heading for the detected output image -->
                <br>
                <h2>Detected Output:</h2>
                <!-- Placeholder for showing the detected image with results, hidden by default -->
                <img id="output-image" src="#" alt="Detected Image" style="display: none;">
            </div>
        </div>
    
        <!-- Link to the external JavaScript file that controls the file upload and display logic -->
        <script src="/static/js/script.js"></script>
    </body>
{% endblock %}