{% extends "base.html" %}

{% block title %}Vehicle Classification{% endblock %}

{% block content %}
    <h2 class="section_heading">VEHICLE CLASSIFICATION</h2>
    <br>
    <div class="main_cent_text">
        Projects:
        <p>
            The Vehicle Classification Project aims to work towards creating machine learning
            <br>
            models to detect events such as speeding vehicles or vehicle accidents in real-time. 
            <br>
            Theses model could leverage various data sources, such as image or video feeds, 
            <br>
            sensor data from vehicles or infrastructure, or audio data, to identify events as they occur. 
            <br>
            The goal is to gather data for further analysis with the hope to infrom decision-making in 
            <br>
            areas such asimprove things such asroad safety or response times.
        </p>
        <div class="project_text">    
            <p>
                <u>Projects:</u>
                <br>
                <li><a href="https://github.com/Chameleon-company/MOP-Code/tree/master/artificial-intelligence/Vehicle%20Classification/upload_drive_vehicle_accident"> 
                        YOLO-based Accident Detection Code - GitHub link (K.N.B)</a>
                </li>
                <br>
                <li><a href="https://github.com/Chameleon-company/MOP-Code/tree/master/artificial-intelligence/Vehicle%20Classification/upload_drive_crop_image"> 
                    YOLO-based Speed Violation Code - GitHub link (K.N.B)</a>
            </li>
                <br>
                <li><a href="/vehicle_detect"> Vehicle Detection (WIP - JS code from old student)  </a></li>
                <br>

            </p>
    </div>
{% endblock %}