# macOS system files
**/.DS_Store

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Specific ignored files from master
Playground/Vamshi/.ipynb_checkpoints/UC00149_Enhancing_Urban_Tree_Planting_through_Air_Quality_Analysis-checkpoint.ipynb
Playground/.DS_Store
datascience/.DS_Store
.DS_Store
Playground/.DS_Store
.DS_Store
Playground/.DS_Store

# macOS
.DS_Store


# macOS
.DS_Store

.DS_Store
