# macOS system files
**/.DS_Store

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Specific ignored files from master
Playground/Vamshi/.ipynb_checkpoints/UC00149_Enhancing_Urban_Tree_Planting_through_Air_Quality_Analysis-checkpoint.ipynb
Playground/.DS_Store
datascience/.DS_Store
.DS_Store
Playground/.DS_Store
.DS_Store
Playground/.DS_Store

# macOS
.DS_Store


# macOS
.DS_Store

.DS_Store
artificial-intelligence/chatbot/code/mpt_bot/story_graph.dot
artificial-intelligence/T2_2025/Public Transport Chatbot/Smart Commute Advisor/.rasa/
artificial-intelligence/T2_2025/Public Transport Chatbot/Smart Commute Advisor/models/
artificial-intelligence/T2_2025/Public Transport Chatbot/Smart Commute Advisor/mnt/
artificial-intelligence/T2_2025/Public Transport Chatbot/Smart Commute Advisor/mpt_data/
artificial-intelligence/T2_2025/Public Transport Chatbot/Smart Commute Advisor/key.env
artificial-intelligence/T2_2025/Public Transport Chatbot/Smart Commute Advisor/maps/*.html
**/__pycache__/
*.pyc
*.env
**/.rasa/
node_modules/
*.db
*.zip
*.mp4
*.pkl
*.h5
artificial-intelligence/chatbot/mpt_data/
