.navbar {
  overflow: hidden;
}

.subnav {
  overflow: hidden;
  float: left;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: #7E8185;
  min-width: 160px;
  z-index: 1;
}

.subnav-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  margin: 0;
}

.subnavbtn2x {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: -16px -16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav-content2x {
  display: none;
  position: absolute;
  background-color: #7E8185;
  margin-left: 1px;
  top: 1%;
  left: 100%;
  min-width: fit-content;
  z-index: 1;
}

.subnav-content2x a {
  float: left;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: #7E8185;
}

.subnav:hover .subnav-content {
  display: block;
}

.subnav .subnav-content-subnav:hover .subnav-content2x {
  display: block;
}
/* ===== Edit ===== */
.subnav-content-subnav{
  position: relative;
}