@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');











/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 40%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.card {
   margin-top:380px;
    width:300px;
    margin-left: 65px;
 margin-right: 65px;
    padding:0px ;
    spacing:20px;
    padding:0 ;
    spacing:20%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.logo{-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1); 
}

.hexagon {
  width: 100px;
  height: 35.735px;
  background: red;
left:55px;
right:55px
  position: absolute;
  border-radius:15px;
}
.hexagon::before {
  content: "";
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 29.8675px solid red;
border-radius:15px;
}
  
.shd{ position:absolute;

    right:105px;
  left:105px;
  top:-50px;
    
    height: 52px;
    width: 52px;
    border-radius: 50px;
    margin: 20px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1); 
}
.bvc{box-shadow:outset,inset/h-offset v-offset blur spread color;margin: 20px;}


.navbar{  height: 48px;
background-color: #000000; opacity: 0.6; filter: alpha(opacity=50);
border-bottom: 1px solid #6699CC;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}
.btn{
background-color: #ff7c48;
padding:6px 60px;
border-radius:35px;
color:#fff;
}

.btn:hover {background-color: #ff7f50;}
.btn:active { font-color: #000000;
            transform: scale(0.98); 
            /* Scaling button to 0.98 to its original size */ 
            box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0); 
            /* Lowering the shadow */ 
        } 
 h5{font-family: 'Roboto';font-size: 22px;}
 h3{font-family: 'Roboto';font-size: 28px; font-color:#fffff;}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








