swagger: '2.0'
info:
    title: master-mop
    description: master-mop
    version: '0.1'
host: master-mop.apigateway.sit-22t1-city-of-melbo-d86dc19.cloud.goog
x-google-endpoints:
  - name: "master-mop.apigateway.sit-22t1-city-of-melbo-d86dc19.cloud.goog"
    allowCors: True
x-google-backend:
  address: https://mop-code-webapp-e5xbpzcnea-ts.a.run.app   
paths:
  /:
    get:
      produces:
        - text/html
        - application/javascript
        - text/css
        - image/gif
        - image/jpeg
        - application/json
        - image/png
        - image/svg+xml
        - text/plain
        - image/tiff  
      operationId: "home"
      parameters: []
      responses:
        '200':
          description: Homepage
  /{param3}:
    get:
      operationId: "any"
      parameters:
        - name: param3
          in: path
          description: 'Example values form path are: ''about'' and ''param2'''
          required: true
          type: string
      responses:
        '200':
          description: OtherPages
  /use-cases/{param4}:
    get:
      produces:
        - text/html
        - application/javascript
        - text/css
        - image/gif
        - image/jpeg
        - application/json
        - image/png
        - image/svg+xml
        - text/plain
        - image/tiff
      operationId: "usecases"
      parameters:
        - name: param0
          in: path
          description: >-
            Example values form path are: 'parking-availability' and
            'pedestrian-traffic-analysis'
          required: true
          type: string
        - name: param4
          in: path
          description: 'Example values form path are: ''param0'' and ''param1'''
          required: true
          type: string
      responses:
        '200':
          description: Definition generated from Swagger Inspector
  /{param7}/{param8}:
    get:
      produces:
        - text/html
        - application/javascript
        - text/css
        - image/gif
        - image/jpeg
        - application/json
        - image/png
        - image/svg+xml
        - text/plain
        - image/tiff
      operationId: "static"
      parameters:
        - name: param2
          in: path
          description: >-
            Example values form path are: 'pedestrian-traffic-analysis' and
            'spot-parking-problem'
          required: true
          type: string
        - name: param7
          in: path
          description: 'Example values form path are: ''use-cases'' and ''param4'''
          required: true
          type: string
        - name: param8
          in: path
          description: 'Example values form path are: ''param2'' and ''param5'''
          required: true
          type: string
      responses:
        '200':
          description: Definition generated from Swagger Inspector
  /{param9}/{param10}/{param11}:
    get:
      produces:
        - text/html
        - application/javascript
        - text/css
        - image/gif
        - image/jpeg
        - application/json
        - image/png
        - image/svg+xml
        - text/plain
        - image/tiff
      operationId: "resources"
      parameters:
        - name: param9
          in: path
          description: >-
            Example values form path are: 'pedestrian-traffic-analysis' and
            'spot-parking-problem'
          required: true
          type: string
        - name: param10
          in: path
          description: 'Example values form path are: ''use-cases'' and ''param4'''
          required: true
          type: string
        - name: param11
          in: path
          description: 'Example values form path are: ''param2'' and ''param5'''
          required: true
          type: string
      responses:
        '200':
          description: Definition generated from Swagger Inspector
  /{param9}/{param10}/{param11}/{param12}:
    get:
      produces:
        - text/html
        - application/javascript
        - text/css
        - image/gif
        - image/jpeg
        - application/json
        - image/png
        - image/svg+xml
        - text/plain
        - image/tiff
      operationId: "more resources"
      parameters:
        - name: param9
          in: path
          description: >-
            Example values form path are: 'pedestrian-traffic-analysis' and
            'spot-parking-problem'
          required: true
          type: string
        - name: param10
          in: path
          description: 'Example values form path are: ''use-cases'' and ''param4'''
          required: true
          type: string
        - name: param11
          in: path
          description: 'Example values form path are: ''param2'' and ''param5'''
          required: true
          type: string
        - name: param12
          in: path
          description: 'Example values form path are: ''param2'' and ''param5'''
          required: true
          type: string          
      responses:
        '200':
          description: Definition generated from Swagger Inspector          
  /static/*:
    get:
      produces:
        - text/html
        - application/javascript
        - text/css
        - image/gif
        - image/jpeg
        - application/json
        - image/png
        - image/svg+xml
        - text/plain
        - image/tiff
      operationId: "any resources"
      responses:
        '200':
          description: Definition generated from Swagger Inspector
  /tools/*:
    post:
      produces:
        - text/html
        - application/javascript
        - text/css
        - image/gif
        - image/jpeg
        - application/json
        - image/png
        - image/svg+xml
        - text/plain
        - image/tiff
      operationId: "tools"
      responses:
        '200':
          description: Definition generated from Swagger Inspector