{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    .main_cent_text {
        font-size: 30px;
    }

    button {
        border-radius: 10px;
    }

    </style>
    <h2 class="section_heading">Homepage</h2>
    <br>

    <p class="main_cent_text">
        In Chameleon, our mission is to research, create, test, document <br>
        and deploy IoT-based solutions to enhance life through the application <br>
        of smart city technologies, including the building of smarter cities, <br>
        homes, transportation, and energy management systems. <br>
        <form action="{{ url_for('vehicle_detect')}}">
            <button type="submit">Try our new Vehcile detection</button>
        </form>
    </p>
{% endblock %}