{% extends 'base.html' %}

<!-- {% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %} -->
<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<link href="{{ url_for('static', filename='highlight/styles/default.min.css') }}" rel="stylesheet" /> -->
{% block content %}
<div class="hero-background-container">
    <div class="hero-background">
    </div>
</div>
<div class="container">
    <section class="hero">
        <div class="hero-body has-text-centered">
            <h1 class="title has-text-white">About</h1>
        </div>
        <section class="panel has-background-white">
            <div class="panel-block">
                <div class="block" style="flex-grow: 1">
                    <div class="subtitle content">
                        <p>Melbourne Open Data Playground (MOP) is a capstone project sponsored by <a href="https://deakin.edu.au" target="_blank">Deakin University</a>.</p>
                        <p>Since Covid there is more demand for data by the business community to support their decision making. This project is meant to align to two strategic documents from Melbourne City Council:</p>
                        <ol>
                            <li>The <a href = "https://participate.melbourne.vic.gov.au/economic-development-strategy/draft-strategy-overview" target="_blank">Economic Development Strategy</a> to be a digitally-connected city.</li>
                            <li>The <a href = "https://www.melbourne.vic.gov.au/about-council/vision-goals/pages/council-plan.aspx" target="_blank">2021-2025 Council Plan</a> which outlines the specific objective of delivering programs that will build digital literacy skills and capabilities.</li>
                        </ol>
                        <p>The <a href = "https://www.melbourne.vic.gov.au/Pages/home.aspx" target="_blank">City of Melbourne</a> is an Australian leader in Open Data since 2014. The latest research and local user engagement has identified a gap where users would like to learn more abut how to access the Open Data and how to gain insights from the data to build apps and solve city problems.</p>
                        <p>This project aims to deliver proof-of -concept examples on how calls to Open Data API can be made to deliver a variety of solutions.</p>
                        <h2>How to use the website</h2>
                        <ol>
                            <li>Use the search bar to search for datasets available on <a href="https://data.melbourne.vic.gov.au/" target="_blank">Melbourne Open Data</a> website or for use cases of the data.</li>
                            <li>The use cases have different difficulty levels. The different categories are:</li>
                                <ul>
                                <li><b>Beginner:</b> May not have a data science or coding background, but are interested in leveraging the data for business insights.</li>
                                <li><b>Intermediate:</b> Have data science and analysis skills, and a bit of coding, but not at an advanced level. </li>
                                <li><b>Advanced:</b> Professional data scientists who want purpose-built frameworks such as AI and ML tools that leverage the data. </li>
                            </ul>
                            <li>The use cases will detail,  with code snippets and instructions, the steps taken: from accessing the data, to visualising it.</li>
                            <li>For more details on the datasets, click on the tile to go to City of Melbourne's website. </li>
                        </ol>
                        <h2>Contributors</h2>
                        <p>We would like to acknowledge the following students and mentors for making this project possible:</p>
                        <br>
                        <b>Students:</b>
                        <div class="columns">
                            <div class="column">
                                <u>T2 2020</u>
                                <br>
                                Pavan Yellapu 
                                <br>
                                Manideep Manda
                                <br>
                                Ausaf Syed
                                <br>
                                Pranali Jayawant Mandhare
                                <br>
                                Avi Jindal
                                <br>
                                Ozween Silvanus Dcunha
                                <br>
                                Mahad Rashid
                                <br>
                                Praniha Reddyvari
                                <br>
                            </div>
                            <div class="column">
                                <u>T3 2020</u>
                                <br>
                                Sivaram Krishnan 
                                <br>
                                Deji Ladeinde
                                <br>
                                Hung Son
                                <br>
                                Avin Fernando
                                <br>
                                Jasmitha Venna
                                <br>
                                Hannah Catri
                                <br>
                                Kazimm
                                <br>
                            </div>
                            <div class="column">
                                <u>T1 2021</u>
                                <br>
                                Sivaram Krishnan 
                                <br>
                                Deji Ladeinde
                                <br>
                                Nikita Vijay Wadekar
                                <br>
                                Jason Tsitsopoulos
                                <br>
                                Oscar Wu
                                <br>
                                Neet Patel
                                <br>
                                Miriam Zhu
                                <br>
                                Rmaamatya
                                <br>
                            </div>
                        </div>
                        <br>
                        <div class="columns">
                            <div class="column">
                                <u>T2 2021</u>
                                <br>
                                Jason Tsitsopoulos
                                <br>
                                Oscar Wu
                                <br>
                                Neet Patel
                                <br>
                                Miriam Zhu
                                <br>
                                Albert Hon
                                <br>
                                Josh Sansom-Sherwill
                                <br>
                            </div>
                            <div class="column">
                                <u>T3 2021</u>
                                <br>
                                Albert Hon | <i>Master of Data Science</i>
                                <br>
                                Josh Sansom-Sherwill | <i>Master of Applied Artificial Intelligence</i>
                                <br>
                                Tithra Chap | <i>Master of Data Science</i>
                                <br>
                                Ngoc (Andy) Dung Huynh | <i>Master of Data Science</i>
                                <br>
                                William Hebblewhite | <i>Master of Data Science</i>
                                <br>
                                Shalom Chin | <i>Master of Cyber Security</i>
                                <br>
                                Angus Maiden | <i>Master of Applied Artificial Intelligence (Professional)</i>
                                <br>
                                Alex Vuong | <i>Master of Data Science</i>
                                <br>
                                Steven Tuften | <i>Master of Applied Artificial Intelligence (Professional)</i>
                                <br>
                            </div>
                            <div class="column">
                            </div>
                        </div>
                        <br>
                        <b>Mentors:</b>
                        <br>
                        Dr. Daniel Ma (T2 2021)
                        <br>
                        Dr. Sergey Polyakovskiy (T2 2021)
                        <br>
                        Dr. Fatemeh Ansarizadeh (T3 2021)
                    </div>  
                </div>
            </div>
        </section>
    </section>
</div>

{% endblock %}



