{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='styles/base-styles.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='./theme_controller.js') }}">
</script>
{% endblock %}


{% block content %}
<div class="page-container">
    <!-- <button id="dt-btn" class="theme-btn">Toggle Theme</button> -->
    <div class="image-header">
        <img src="../../static/images/city_of_melbourne_skyline.jpg" alt="Melbourne Skyline" style="height: 20em; width: 100%">
        <div class="bottom-left-text">
            Explore real business use cases in order to experience the City of Melbourne's Open Data Platform.
        </div>
    </div>
    <div class="container">
            <section class="hero">
                <div class="has-text-centered">
                    <p class="subtitle" style="color: black; font-weight:700; padding: 1em 1em">
                        Use cases
                    </p>
                </div>
            </section>
            <section class="use-cases">
                <section class="panel has-background-white">
                    <div class="panel-block">
                        <div class="block" style="flex-grow: 1">
                            <div class="subtitle content">
                                <div class="table-container">
                                    <table id="use-case-table" style="border: 1px">
                                        <tr class="row row-bottom-border">
                                            <th style="width:62.5%">Use Case</th>
                                            <th style="width:19%">Difficulty
                                                <a class="dot beginner" href="javascript:filterDifficulty('Beginner')"></a>
                                                <a class="dot intermediate" href="javascript:filterDifficulty('Intermediate')"></a>
                                                <a class="dot advanced" href="javascript:filterDifficulty('Advanced')"></a>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <div id="show-more-use-cases">
                <a href="javascript:showmoreUseCases()">Show more ↓</a>
            </div>
            <section class="hero">
                <div class="has-text-centered">
                    <p class="subtitle" style="color: black; font-weight:700; padding: 1em 1em">
                        Datasets
                    </p>
                </div>
            </section>
            <section class="datasets">
                <section class="panel has-background-white">
                    <div class="panel-block">
                        <div class="block" style="flex-grow: 1">
                            <div class="subtitle content">
                                <div class="table-container">
                                    <table id="dataset-table">
                                        <tr class="row row-bottom-border">
                                            <th>Dataset</th>
                                            <th style="width:37%">Downloads
                                                <img src="/static/download-button.png" 
                                                style="width: 15px; height: 15px;">
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <div style="padding-bottom:300px">
                <div id="show-more-datasets">
                    <a href="javascript:showmoreDatasets()">Show more ↓</a>
                </div>
            </div>
    </div>
    <footer hidden></footer>
</div>

<script src="{{url_for('static', filename='homepage.js')}}"></script>
{% endblock %}