{% extends 'base.html' %} {% block head %}
<link href="{{ url_for('static', filename='highlight/styles/default.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='styles/parking_tool.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='styles/parking_tool_full_page.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='highlight/highlight.min.js') }}"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js'></script>
<script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css' rel='stylesheet' /> {% endblock %}

{% block content %}
<div class="block solution_demo" style="position: relative">
    <div style="width: 100%; height: 100%;" class="map" id="solutionMap"></div>
    <div class="parking_tool_graph box" style="display: none;"></div>
    <div class="parking_tool_radius_slider">
        <input type="range" class="slider" min="1" max="100" value="30" />
        <span class="radius_value">300m</span>
    </div>
</div>
<script>
    hljs.highlightAll();
</script>
<script src="{{url_for('static', filename='parking_tool_full_page.js')}}"></script>
<script src="{{url_for('static', filename='parking_tool.js')}}"></script>


<template id="parking_tool_graph">
    <div class="block">
        <div class="parking_tool_close">
            <span class="icon"><i class="far fa-times-circle"></i></span>
        </div>
        <p class="graph_title"></p>
        <p><b>Total: </b><span class="graph_total_parks"></span></p>
        <p><b>Available: </b><span class="graph_available_parks"></span></p>
        <p><b>Unavailable: </b><span class="graph_unavailable_parks"></span></p>
        <br />
        <div class="graph_container">
            <img class="graph_img" src="#" />
            <img class="graph_img" src="#" />
        </div>
    </div>
</template> {% endblock %}