{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='styles/base-styles.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='./theme_controller.js') }}">
</script>
{% endblock %}


{% block content %}
<div>
    <div class="image-header">
        <img src="../../static/images/city_of_melbourne_skyline.jpg" alt="Melbourne Skyline" style="height: 20em; width: 100%">
        <div class="bottom-left-text">
            If you have any questions, queries or any other message you would like to send through to us, feel free to do so via the form below
        </div>
    </div>
    <div class="container">
        <section class="hero">
            <div class="has-text-centered">
                <p class="title" style="padding-top: 75px; padding-bottom: 50px; color: var(--default-text-color); font-weight: 700;">
                    Let's Start a Conversation
                </p>
            </div>
        </section>
        <section style="float: left; width: 50%;">
            <div class="has-text-centered">
                <p style="font-size: 24px; color: var(--default-text-color); font-weight: 700;">
                    Ask how we can help you:
                </p>
            </div>
            <section class="panel default-panel-background">
                <div class="panel-block">
                    <div class="block" style="flex-grow: 1;">
                        <div class="subtitle content" style="color: var(--default-text-color);">
                            <div class="table-container">
                                <table id="contact-table" style="border: 1px;">
                                    <tr class="row row-bottom-border"><td>We would love to hear from you!</td></tr>
                                    <tr class="row row-bottom-border"><td>Whether you have a question about features, the data or anything else, our team at <a href="https://deakin.edu.au" target="_blank">Deakin University</a> is ready to answer your questions.</td></tr>
                                    <tr class="row row-bottom-border"><td>Connect with anyone from the Deakin Industry Student Capstone (DISC) team <a href="https://www.discprojects.com/team" target="_blank">here</a>.</td></tr>
                                    <tr class="row"><td>If you would like to collaborate with Deakin University on Industry Projects, please visit <a href="https://www.discprojects.com/" target ="_blank"> DISC </a> or sign up as an Industry Partner <a href="https://www.discprojects.com/collaborate" target="blank"> here. </a></td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="has-text-centered" style="padding-top: 20px; color: var(--default-text-color);">
                <p>
                    Please note: all fields are required
                </p>
            </div>
        </section>
        <section style="float: left; width: 50%; padding-left: 10%; padding-top: 1%;">
            <!--
            <p class="input-title">
                First Name
            </p>
                    <div class="block" style="flex-grow: 1;">
                        <input class="contact-input panel default-panel-background" type="text" id="first-name" name="first-name">
                    </div>


            <p class="input-title">
                Last Name
            </p>
                    <div class="block" style="flex-grow: 1;">
                        <input class="contact-input panel default-panel-background" type="text" id="last-name" name="last-name">
                    </div>

            <p class="input-title">
                Phone Number
            </p>
                    <div class="block" style="flex-grow: 1;">
                        <input class="contact-input panel default-panel-background" type="text" id="phone-number" name="phone-number">
                    </div>

            <p class="input-title">
                Email Address
            </p>
                    <div class="block" style="flex-grow: 1;">
                        <input class="contact-input panel default-panel-background" type="text" id="email-address" name="email-address">
                    </div>
            <p class="input-title">
                Message
            </p>
                    <div class="block" style="flex-grow: 1;">
                        <textarea class="contact-input panel default-panel-background" type="text" id="contact-message" name="contact-message" style="height: 10em;"></textarea>
                    </div>

            <div class="bubble" style="background-color: #02da78;">
                <a href="#">Send</a>
            </div>-->
            <form id="contactForm" method="POST">
                <label class="input-title" for="name">Name:</label>
                <br>
                <input class="contact-input panel default-panel-background" type="text" id="name" name="name" required>
                <br>
                <label class="input-title" for="number">Phone Number:</label>
                <br>
                <input  class="contact-input panel default-panel-background" type="text" id="number" name="number" required>
                <br>
                <label class="input-title" for="message">Question/Message:</label>
                <br>
                <textarea  class="contact-input panel default-panel-background" id="message" name="message" required></textarea>
                <br>
                <button class="bubble" style="background-color: #02da78;" type="submit">Submit</button>
              </form>

        </section>
    </div>
</div>

<script src="{{url_for('static', filename='contact_page.js')}}"></script>

<script>
  document.getElementById('contactForm').addEventListener('submit', function(event) {
  event.preventDefault(); // Prevent form submission

  // Get form values
  var name = document.getElementById('name').value;
  var number = document.getElementById('number').value;
  var message = document.getElementById('message').value;

  // Compose email body
  var emailBody = 'Name: ' + name + '\n' +
                  'Phone Number: ' + number + '\n' +
                  'Question/Message: ' + message;

  // Send email
  window.location.href = 'mailto:chameleon@deakin.edu.au?subject=Contact Form Submission&body=' + encodeURIComponent(emailBody);
});
</script>
{% endblock %}