# Python virtual environment
backend/venv/

# Python environment variables
backend/.env

# Node modules (React frontend)
frontend/node_modules/

# Optional: Ignore log files and system files
*.log
.DS_Store
