{% extends 'base.html' %}

{% block head %}
  <link href="{{ url_for('static', filename='highlight/styles/default.min.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='highlight/highlight.min.js') }}"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %} -->
{% block content %}

<figure class="highlight">
    <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"notification is-primary"</span><span class="nt">&gt;</span>
      This container is <span class="nt">&lt;strong&gt;</span>centered<span class="nt">&lt;/strong&gt;</span> on desktop and larger viewports.
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span></code></pre><button class="button bd-copy">Copy</button>
</figure>
<!-- mapbox map -->
<div id='map' style='width: 100%; height: 600px;'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoianNhbnNvbXNoZXJ3aWxsIiwiYSI6ImNrc2Y4Z255MjE4NXAydXBpbGs5bHlha3IifQ.dgv4c4Gl2v_K0TN_RpYfKg';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [151.205170344, -33.8425953978], // starting position [lng, lat]
        zoom: 9 // starting zoom
    });
</script>
<script>hljs.highlightAll();</script>
<script src="{{url_for('static', filename='traffic_lights.js')}}"></script>

{% endblock %}
