<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Data Playground</title>
    <link rel="shortcut icon" type="image/png" href="static/images/moplogo.png" />

    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/playground.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.min.css')}}">
</head>

<body>
    <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson }};
    </script> 
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="{{url_for('home.home')}}">
                <img src="{{url_for('static', filename='images/moplogo.png')}}"
                    style="width: 50px; height: 50px; margin-right: 5px; margin-left: 5px; margin-top: 5px; margin-bottom: 0px;">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar_menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar_menu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item{% if index %} is-active{% endif %}" href="{{url_for('home.home')}}"
                    target="_self">
                    Home
                </a>
                <a class="navbar-item{% if about %} is-active{% endif %}" href="{{url_for('home.about')}}"
                    target="_self">
                    About
                </a>
                <a class="navbar-item{% if faq %} is-active{% endif %}" href="{{url_for('home.faq')}}"
                    target="_self">
                    FAQ
                </a>
                <a class="navbar-item{% if contact %} is-active{% endif %}" href="{{url_for('home.contact')}}"
                    target="_self">
                    Contact
                </a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="https://data.melbourne.vic.gov.au/" target="_blank">
                    <img src="{{url_for('static', filename='City_Of_Melbourne_Logo.png')}}">
                </a>
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="https://github.com/D2I-Melbourne/MOP" target="_blank" class="button">
                            <span class="icon">
                                <i class="fab fa-github"></i>
                            </span>
                            <span>GitHub</span>
                        </a>
                    </div>
                </div>
                <div class="navbar-item">
                    <div class="buttons">
                        <a target="_blank">
                            <img id='dt-btn' src="{{url_for('static',filename='moon_ico.png')}}"
                            style="width: 30px; height: 60px; margin: 5px; filter: brightness(0) invert(1)">
                        </a>
                    </div>
                </div>
            </div>
    </nav>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="{{url_for('static', filename='nav_burger.js')}}"></script>
    {% block content %}{% endblock %}

    <!-- <footer class="footer">
        <div class="content has-text-centered">
        </div>
    </footer> -->
</body>

</html>