/* Overall page background */
body {
    font-family: Arial, sans-serif;
    background-color: #969696; /* Light background */
    margin: 0;
    padding: 0;
    display: flex; /* Enable flexbox for layout */
    flex-direction: column; /* Stack the heading and form vertically */
    height: 100vh; /* Full viewport height */
    text-align: center; /* Center the heading text */
}
.graph-container {
    display: flex;
    padding: 1%;
    gap: 10px
}
.page-heading {
    font-size: 3rem;
    font-weight: bold;
    color: #2D2D2D;
    margin-bottom: 40px;
}

/* Form container */
.container {
    width: 20%;
    background-color: #969696;
    padding: 20px;
    gap: 20px; 
    border-radius: 10px;
}

.form-row {
    gap: 10px;
    width: 100%;
}

.custom-select-container {
    min-width: 220px;
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.custom-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #2D2D2D;
    background-color: #CACACA;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-select:focus {
    border-color: #C0D0BD;
    
}

button {
    max-width: 600px;
    background-color: #617156;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2C421D;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .custom-select-container {
        flex: 1 1 100%;
        min-width: 100%;
    }

    button {
        width: 100%;
    }
}




