{% extends "layout.html" %} 
{%block content %}
  
    
<body>
	

		
		<div id={{ chartID|safe }} class="chart" style="height: 800px; width: 1100px"></div>
		<script>
			var chart_id = {{ chartID|safe }}
			var data1 = {{data1|safe}}
			var data1_2 = {{data1_2|safe}}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
			<script src="../static/Collins_Place_North.js"></script>

</body>
	
	


<script type = "text/javascript" src = "/static/bootstrap.min.js"></script>
	
{% endblock %}