

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h1 style */
h1 {
    text-align: center; 
}

/* h2 style */
.section_heading {
    text-align:center; 
}

/* nav style */
nav {
    background-color: #333;  
    text-align: center;     
}

/* ul Style */
.menu {
    list-style-type: none;    
    display: flex;           
    justify-content: center; 
    padding: 0;
}

/* li style */
.menu li {
    margin: 0 15px; 
}

/* a (link) style */
.menu a {
    color: white;          
    text-decoration: none; 
    font-size: 16px;       
    padding: 10px 20px;    
    display: inline-block; 
}

/* Hover effect for links */
.menu a:hover {
    background-color: #575757; 
    border-radius: 4px;        
}

/* about_text Style */
.main_cent_text {
    text-align: center;    
}

/* footer style */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.footer-section.left {
    text-align: left;
}

.footer-section.right {
    text-align: right;
}

footer img {
    max-width: 100%;
    height: auto;
    max-height: 100px; 
}

