.nav-link {
  border-radius: 20px; /* Adjust the border radius to match your navigation bar */
}

.nav-link:hover {
  background-color: #4299e1; /* Change the background color on hover */
}

.login-btn:hover {
  background-color: #f4f8f4; /* Change to the desired color on hover */
  /* Add any other styles you want to apply on hover */
}

.signup-btn{
  border:1px solid white;
  margin-right: 10px;

}

.login-btn{
  border:1px solid white;
  color:green
}



  