/* licensing.css */

.licensing-page {
    background-color: white;
  }
  
  .bullet-list {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .text-black {
    color: black;
  }
 /* Add this CSS to licensing.css */
.left-content p,
.left-content ul.bullet-list,
.right-content p,
.right-content ul.bullet-list {
  color: black;
  font-size: 17px; /* Set the color to black */
  justify-content: center;
}
.contact-text {
  color: black;
  font-size: 17px;
}


  