/* licensing.css */

.licensing-page {
  background-color: white;
}

.bullet-list {
  list-style-type: disc;
  padding-left: 20px;
}

.text-black {
  color: black;
}
/* Add this CSS to licensing.css */
.left-content p,
.left-content ul.bullet-list,
.right-content p,
.right-content ul.bullet-list {
color: black;
font-size: 17px; /* Set the color to black */
justify-content: center;
}
.contact-text {
color: black;
font-size: 17px;
}
/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
h1 {
  font-size: 36px; /* Smaller font size for H1 on small devices */
}
h2 {
  font-size: 24px; /* Smaller font size for H2 on small devices */
}
p {
  font-size: 16px; /* Smaller font size for paragraphs on small devices */
}
.my-custom-padding-class {
  padding-left: 20px; /* Reduce left padding on small devices */
  padding-right: 20px; /* Reduce right padding on small devices */
}
}
