body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #F0F0F0; 
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top-bar, .login-container, .signup-link, .forgot-password, input, button {
    font-family: 'Montserrat', sans-serif;
}

.top-bar {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    position: fixed;
    top: 88px;
    left: 0;
    box-sizing: border-box;
    margin-left: 8%;
}

.logo {
    height: 150px; 
    margin-left: -40px; 
    width: auto; 
}

.signup-container {
    display: flex;
    align-items: center;
}

.no-account {
    margin-right: 1rem;
    font-size: larger;
    color: #333;
}

.signup-link, .forgot-password {
    padding: 0.5rem 1rem;
    color: #0066cc;
    text-decoration: none;
    border-radius: 5px;
}

.account-query {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0.625rem;
}

.sign-up-button {
    padding: 0.3125rem 0.625rem;
    background-color: #fff;
    color: #424242;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    font-size: larger;
}

.login-button {
    background-color: #2ECC71;
    color: white;
    width: 100%;
    padding-block: 15px;
    border-color: white;
}

.login-container {
    background-color: #F0F0F0; 
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    position: relative;
    margin-top: 30px;
    text-align: center;
}

.h2 {
    font-weight: bold;
    color: black;
}

.login-title {
    font-weight: bold;
    color: black;
    font-size: 2vw;
}

.login-subtitle {
    color: #616161;
}

.remember-me {
    color: #616161;
}

.subtitle {
    color: #616161;
}

.input-group input {
    margin: 5px;
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #9E9E9E;
    color: black;
    padding-block: 3%;
    font-size: large;
}

.remember-me {
    color: #616161;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.input-group input[type="password"] {
    margin: 5px;
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #9E9E9E;
    color: black;
    padding-block: 3%;
    font-size: large;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    left: 0;
}

@media (min-width: 768px) {
    .logo {
        height: 150px; 
        margin-left: -40px; 
    }

    .login-container {
        max-width: 675px;
        margin: auto;
    }
}