.already-member {
  position: absolute;
  top: 5rem;
  right: 5rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  color: #666666;
}

.logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
  margin: 1rem;
}
.signup-button{
  border: 1px solid black;
  padding: 7px;
  font-size: 1rem;
  color:black;
}

.text-2xl {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 4rem;
  margin-top: 3rem;
  margin-left: 1.5rem;
 
}


.otp-message {
  padding-top: 1.5rem;
  margin-bottom:0rem; 
  font-size: 0.875rem;
  color: #666666;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap; /* Prevent line wrapping */
  text-align: center; 
  margin-left: 1.5rem;
}

.otp-message span {
  display: block;
  margin-bottom: 0.5rem; /* Each span should display in its own line */
}

.password-reset-form input {
  width: 50%;
  padding: 0.7rem;
  display: block;
  border: 1px solid #ccc;
  margin-right:20rem;
  margin-bottom: 0.4rem;
  margin-left: 14rem;
  
}
.password-reset-form input::placeholder {
  font-weight: bold; 
  text-transform: uppercase;
  color: #666666;
  font-size: 1rem; /* Adjust font size as needed */
  font-family: "Roboto", sans-serif;/* Specify font family */
  margin-bottom: 0.5rem;
}
.eye-placeholder {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 12s-4-8-10-8S2 12 2 12s4 8 10 8 10-8 10-8zM12 16s-3-3.5-3-5a3 3 0 1 1 6 0c0 1.5-3 5-3 5z"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%; /* Adjust position */
  background-size: 20px 20px; /* Adjust size */
  padding-right: 30px; /* Make space for the eye icon */
  margin-right: 10px;
  border: 1px solid #ccc;
  width: calc(50% - 40px); /* Adjust width for the eye icon */
}
.password-strength {
  width: 50%;
  height: 0.01rem;
  background-color: #ccc;
  border-radius: 0.2rem;
  margin-left:14rem;
}

.password-strength-text {
  text-align: right;
  margin-right: 1rem;
  margin-bottom: 0.7rem;
  font-size: 0.7rem; /* Adjust font size as needed */
  color: #666666; /* Adjust color as needed */
   
}

.password-strength-bar {
  width: 50%;
  height: 5px;
  border: 0.5px solid #ccc;
  border-radius: 6%;
  margin-bottom: 0px; /* Add some space between the bar and the text */
}

.password-strength-bar-inner {
  height: 50%;
  border-radius: 0.5px;
}

.reset-button{
  background-color:#2fcb71;
  color: white;
  padding: 0.7rem;
  display: block;
  border: 1px solid #ccc;
  margin-right:20rem;
  margin-bottom: 0.4rem;
  margin-left: 14rem;

}