/* General Styles */

.upload-body {
    background-color: #d8d8d8;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 400;
}


/* Header Styles */

.upload-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    width: auto;
    height: 5rem;
    margin-bottom: 2rem;
}

.upload-header h1 {
    font-size: 1.5rem;
}

.upload-header-left,
.upload-header-right {
    padding: 0 2rem;
    margin: 0 1rem;
}

.upload-header-right select {
    font-size: 1rem;
}


/* Container Styles */

.upload-container {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    padding: 3rem 2rem;
}

.spacer {
    height: 2rem;
}

.upload-container h2 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.form-container .column {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.form-container .column input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container .column label {
    font-size: small;
}


/* Green Box Styles */

.green-box {
    width: 100%;
    height: 20rem;
    background-color: #d7ecd8;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-icon {
    width: 5rem;
    height: 5rem;
    fill: white;
}

.file-upload {
    text-align: center;
}

.file-upload h1 {
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 1rem;
}

.file-upload-input {
    display: none;
}

.upload-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-btn:hover {
    background-color: #45a049;
}


/* Media Queries for Responsive Design */

@media only screen and (max-width: 600px) {
    .upload-header-left {
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {
    .form-container .column {
        width: 48%;
    }
}

@media only screen and (min-width: 1024px) {
    .upload-container {
        width: 80%;
    }
}