{% extends "base.html" %}

{% block title %} Perceptions of Safety {% endblock %}

{% block content %}

    <div class="body-kaimon">
    <h2 class="section_heading">The Perception of Safety within Melbourne</h2>

    <div class="graph-container-kaimon">

    <div class="container-kaimon">
        <form id="prediction-form" method="POST" class="prediction-form">
            <div class="form-row-kaimon">
                <div class="custom-select-container-kaimon">
                    <label for="category">Select Category:</label>
                    <select class="custom-select-kaimon" id="category" name="category">


                        <option value="neighbourhood">Neighbourhood</option>
                        <option value="transport">Transport</option>
                    </select>
                </div>


                <div class="custom-select-container-kaimon">
                    <label for="gender">Select a Gender:</label>
                    <select class="custom-select-kaimon" name="gender" required>


                        <option>Select a Gender</option>
                        {% for gender in genders %}
                            <option value="{{ gender }}">{{ gender }}</option>
                        {% endfor %}
                    </select>
                </div>


                <div class="custom-select-container-kaimon">
                    <label for="age_range">Select an Age Range:</label>
                    <select class="custom-select-kaimon" name="age_range" required>

                        <option>Select an Age Range</option>
                        <option>18-24 years</option>
                        <option>25-34 years</option>
                        <option>35-44 years</option>
                        <option>45-54 years</option>
                        <option>55-64 years</option>
                        <option>65+ years</option>
                    </select>
                </div>

                <div class="custom-select-container-kaimon">
                    <label for="suburb">Select a Suburb:</label>
                    <select class="custom-select-kaimon" min-width="400px" name="suburb" required>


                        <option>Select a Suburb</option>
                        {% for suburb in suburbs %}
                            <option value="{{ suburb }}">{{ suburb }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button class="button-kaimon" type="submit">Submit</button>


        </form>
    </div>
    <!-- <div id="prediction-output"></div> -->
    
        <div id="graph-day"></div>
        <div id="graph-night"></div>
    </div>

    <script>
        document.getElementById("prediction-form").addEventListener("submit", function(e) {
    e.preventDefault();
    const formData = new FormData(e.target);
    
    fetch('/health_safety/predict', {
        method: 'POST',
        body: new URLSearchParams({
            category: formData.get('category'),
            gender: formData.get('gender'),
            age_range: formData.get('age_range'),
            suburb: formData.get('suburb')
        })
    })
    .then(response => response.json())
    .then(data => {
        const graphDivDay = document.getElementById('graph-day');
        Plotly.newPlot(graphDivDay, JSON.parse(data.graph_day));

        const graphDivNight = document.getElementById('graph-night');
        Plotly.newPlot(graphDivNight, JSON.parse(data.graph_night));
    });
});
    </script>

    </div>


{% endblock %}