{% extends "base.html" %}

{% block title %}Health Behaviour{% endblock %}

{% block content %}
    <h2 class="section_heading">HEALTH BEHAVIOUR</h2>
    <br>
    <div class="main_cent_text">
        <p>
            The Health Behaviour Project aims to create insightful and informative tools to 
            <br>
            view, analyse and predict various health indicators from across Melbourne. 
            <br>
            From Food Security, Perceptions of Safety, these tools aim to help residents of
            <br>
            Melbourne make informed decisions and create a more knowledgeable population. 
            <br>
            <br>
            Feel free to check out the topics from the links down below, with more being added soon. </p>


        <div class="project_text">    
            <p>
                <u>Projects:</u>
                <br>
                <li><a href="/health_safety"> Perceptions of Safety (K.D.B) </a></li>
                <li><a href="/food_security"> Food Security (A.R.) </a></li>
                <br>
                <br>
            </p>
    </div>
{% endblock %}