{% extends "base.html" %}

{% block title %}Traffic Analysis{% endblock %}

{% block content %}
    <h2 class="section_heading">TRAFFIC ANALYSIS</h2>
    <br>
    <div class="main_cent_text">
        <p>Information on what we are doing with the Traffic stuff</p>
        <br>

        <div class="project_text">    
            <p>
                <u>Projects:</u>
                <br>
                <li><a href="/vehicle_detect"> Project Example (Placeholder)  </a></li>
                <br>     
            </p>
    </div>
{% endblock %}