/* .parking_tool_graph.box {
    position: absolute;
    left: 20px;
    top: 60px;
}

.graph_title {
    display: none;
}

.graph_container>img:first-child {
    background-image: url('../images/loading_diagram.jpg');
    background-position: center;
    background-size: cover;
}

.graph_img {
    width: 350px;
    height: 175px;
    display: block;
}

.parking_tool_close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.parking_tool_expand {
    position: absolute;
    font-size: 1.6em;
    bottom: 30px;
    right: 20px;
}

.parking_tool_radius_slider {
    position: absolute;
    left: 20px;
    top: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 350px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.radius_value {
    margin-left: 15px;
    font-weight: bold;
    text-shadow: -1px -1px 1px grey;
} */





.parking_tool_graph.box {
    position: absolute;
    left: 20px;
    top: 60px;
  }
  
  .graph_title {
    display: none;
  }
  
  .graph_container > img:first-child {
    background-image: url("../images/loading_diagram.jpg");
    background-position: center;
    background-size: cover;
  }
  
  .graph_img {
    width: 350px;
    height: 175px;
    display: block;
  }
  
  .parking_tool_close {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .parking_tool_expand {
    position: absolute;
    font-size: 1.6em;
    bottom: 30px;
    right: 20px;
  }
  
  .parking_tool_radius_slider {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 350px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
  }
  
  .radius_value {
    margin-left: 15px;
    font-weight: bold;
    text-shadow: -1px -1px 1px grey;
  }
  .text_underline {
    text-decoration: underline;
  }
  .position_relative {
    position: relative;
  }
  .w_100 {
    width: 100%;
  }
  .h_600 {
    height: 600px;
  }
  .display_none {
    display: none;
  }
  .display_flex {
    display: flex;
  }
  .margin_auto {
    margin: auto;
  }
  .pl_20 {
    padding-left: 20px;
  }
  