# Streamlit Secrets
.streamlit/secrets.toml

# Ignore large local raw GIS folders
data/raw/Ontario Soil Survey Complex/
data/raw/CANSIS SLC/

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
