{% extends "layout.html" %} 
{%block content %}


<body>
	<h2><p style="text-align: justify;">Energy Forecast</p></h2>  
	
  
	<div>
			
		<p style="text-align: justify;">The below graph depicts the electricity demand from March 2021 - August 2021</p>
				 
	</div>	


		<div id={{ chartID|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>	
		<script>
			var chart_id1 = {{ chartID|safe }}
			<!-- var series7 = {{ series7|safe }} -->
			var data2 = {{data1|safe}}
			var data2_2 = {{data1_2|safe}}
			var title1 = {{ title|safe }}
			var xAxis1 = {{ xAxis|safe }}
			var yAxis1 = {{ yAxis|safe }}
			var chart1 = {{ chart|safe }}
		</script>
		
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
			<script src="../static/energy_forecast.js"></script>
			<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script src="https://code.highcharts.com/modules/accessibility.js"></script>
</body>
	
	


<script type = "text/javascript" src = "/static/bootstrap.min.js"></script>

{% endblock %}
