{% extends "layout.html" %} 
{%block content %}

<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <p style="text-align: justify;">The Data 2 intelligence (Melbourne City) T1 2021 Capstone squad comprises ten Postgraduate students, six senior and four junior project members. The team is led by <a href="https://www.linkedin.com/in/ayodeji-ladeinde-b8469b122/">Deji Ladeinde</a>, a senior project member studying Masters of Data Science. Other senior group members include <a href="https://www.linkedin.com/in/nikita-wadekar/">Nikita Wadekar</a>, <a href="https://www.linkedin.com/in/sivaram-krishnan-887266178/">Sivaram Krishnan</a>, <a href="https://www.linkedin.com/in/rohanamatya/">Rohan Man Amatya</a>, <a href="https://www.linkedin.com/in/akhila-manchi-787185191/">Akhila Manchi</a> and <a href="https://www.linkedin.com/in/aparna-chintala-b32b1a173/">Aparna Chintala</a>, who are studying Masters of IT (Professional), Data Science, AI, IT (Professional) and IT (Professional), respectively.
Junior members of the group include <a href="https://www.linkedin.com/in/jason-tsitsopoulos-06527919/">Jason Tsitsopoulos</a>, Oscar Wu, Neet Patel and Miriam Zhu.</p>

<h3>Team Contribution - Iteration 2</h3>

<table>
  <tr>
    <th>Team Member</th>
    <th>Junior/Senior</th>
    <th>    Contribution(s)</th>
  </tr>
  <tr>
    <td>Ayodeji Ladeinde</td>
    <td>Senior</td>
    <td><ul>- Collated all inputs for the product.</ul>
        <ul>- Incorporated the respective  inputs on the web​.</ul>
        <ul>- Provided project direction and focus to members​.</ul>
		<ul>- Implementation of the LSTM and other Deep learning Models​.</ul>
		<ul>- Contributed in team administration, role management and handover document. </ul>
 	</td>
  </tr>
  <tr>
    <td>Nikita Wadekar</td>
    <td>Senior</td>
    <td><ul>- Implemented the LSTM, VAR and VARMA model for predicting electricity demand.​ </ul>
<ul>- Implemented the Highcharts and collaborated with sub team members to incorporate the visualization.​ </ul>
<ul>- Contributed to the implementation of recommended retail price web page.​ </ul>
<ul>- Contributed to the panel presentation and handover document.</ul>
 	</td>
  </tr>
  <tr>
    <td>Sivaram Krishnan</td>
    <td>Senior</td>
    <td><ul>- Implemented the VAR, VARMA and Prophet model for predicting the electricity demand.​​</ul>
<ul>- Worked to incorporate the Highcharts visualizations to our webpage.​​</ul>
<ul>- Provided content for EDA analysis of the RRP variable and Electricity demand.​​ </ul>
<ul>- Worked towards the final presentation and pitch video.​</ul>
 	</td>
  </tr>
  <tr>
    <td>Rohan Man Amatya</td>
    <td>Senior</td>
    <td><ul>- Identified technical roadmap to implement the automated ETL pipeline.​</ul>
<ul>- Helped team members to obtain quality deliverables by providing resources and suggestion for improvement.​</ul>
<ul>- Converted single-step to multi-step time series forecasting​. </ul>
<ul>- Worked on integrating the forecasted data to website dashboard using HighChart & Flask.​</ul>
<ul>- Completed the implementation of automated ETL pipeline using cloud resources​.​</ul>
<ul>- Worked towards group presentation and handover document.​</ul>
 	</td>
  </tr>
  <tr>
    <td>Akhila Manchi</td>
    <td>Senior</td>
    <td><ul>- Researched on improving the regression model.​</ul>
<ul>-  Built Decision tree, Randomforest and RNN regressor models.​</ul>
<ul>- Interpretated and visualized the important features through model.​</ul>
<ul>- Contributed in pitch video.</ul>
 	</td>
  </tr>
  <tr>
    <td>Aparna Chintala</td>
    <td>Senior</td>
    <td><ul>- Gathered all sources required for the project to infer the datasets extracted.​</ul>
<ul>- Extracted the holiday,covid_restrictions and weather_data and updated the dataset manually as a flat file and then created scripts.​</ul>
<ul>- Researched and performed analysis on the holiday_list resources for web scraping in direction to produce the improvement for the holiday_list dataset.​</ul>
<ul>- Researched and performed  web scraping on the covid_restrictions to produce the results for the covid_restrictions dataset.​</ul>
<ul>- Contributed in pitch video.</ul>
 	</td>
  </tr>
    <tr>
    <td>Jason Tsitsopoulos</td>
    <td>Junior</td>
    <td><ul>- Researching and implementing graphs using Flask and Highcharts on the website.​</ul>
<ul>- Creating boxplots for the website.​</ul>
<ul>- Proofreading the web content and suggesting modifications.</ul>
<ul>- Contributed in panel presentation and pitch video.</ul>
 	</td>
  </tr>
    <tr>
    <td>Oscar Wu</td>
    <td>Junior</td>
    <td>
<ul>- Working on web content for Rainfall variable. </ul>
<ul>- Fitting data using ARIMA, walking forward, LSTM compared to RNN, DT, SVR, MLP​.</ul>
<ul>- Reduced RMSE of model for rainfall amount from 5.3 to 4.0.</ul>
<ul>- Helped sub-team b on model performance  in order to generating more accurate data for visualization.​.</ul>
<ul>- Contributed to the panel presentation and handover document.</ul>
 	</td>
  </tr>
    <tr>
    <td>Neet Patel</td>
    <td>Junior</td>
    <td><ul>- Researched the LSTNet and SimpleRNN model. </ul>
<ul>- Developed the SimpleRNN model and obtained performance metrics. </ul>
<ul>- Forecasted the Energy Consumption using SimpleRNN from March 2021 – August 2021. </ul>
<ul>- Contributed in document for the activities completed by Sub-Team C and handover document. </ul>
 	</td>
  </tr>
    <tr>
    <td>Miriam Zhu</td>
    <td>Junior</td>
    <td><ul>- Researched and explored about the Regression model​.</ul>
<ul>- Developed the SimpleRNN model, MLPRegressor model, LinearRegression model, DecisionTree Regressor model, Randomforest  Regressor model, and obtained performance metrics. </ul>
<ul>- Visual multivariate model performance comparison for discussion and selection​.</ul>
<ul>- Identify the best performance model and scalar for integration on the website​.</ul>
<ul>- Contributed to the panel presentation and handover document.</ul>
 	</td>
  </tr>
</table>
         
</body>
{% endblock %}