{% extends "layout.html" %} 
{%block content %}

<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <p style="text-align: justify;">The Data 2 intelligence (Melbourne City) T1 2021 Capstone squad comprises ten Postgraduate students, six senior and four junior project members. The team is led by <a href="https://www.linkedin.com/in/ayodeji-ladeinde-b8469b122/">Deji Ladeinde</a>, a senior project member studying Masters of Data Science. Other senior group members include <a href="https://www.linkedin.com/in/nikita-wadekar/">Nikita Wadekar</a>, <a href="https://www.linkedin.com/in/sivaram-krishnan-887266178/">Sivaram Krishnan</a>, <a href="https://www.linkedin.com/in/rohanamatya/">Rohan Man Amatya</a>, <a href="https://www.linkedin.com/in/akhila-manchi-787185191/">Akhila Manchi</a> and <a href="https://www.linkedin.com/in/aparna-chintala-b32b1a173/">Aparna Chintala</a>, who are studying Masters of IT (Professional), Data Science, AI, IT (Professional) and IT (Professional), respectively.
Junior members of the group include <a href="https://www.linkedin.com/in/jason-tsitsopoulos-06527919/">Jason Tsitsopoulos</a>, Oscar Wu, Neet Patel and Miriam Zhu.</p>

<h3>Team Contribution</h3>

<table>
  <tr>
    <th>Team Member</th>
    <th>Junior/Senior</th>
    <th>    Contribution(s)</th>
  </tr>
  <tr>
    <td>Ayodeji Ladeinde</td>
    <td>Senior</td>
    <td><ul>- Researched about client’s future goals, appropriate datasets.</ul>
        <ul>- Contributed to project ideation phase and scoping.</ul>
        <ul>- Formatted and actively involved on the Trello board.</ul>
		<ul>- Team Administration/Team Engagement/Task delegation</ul>
 	</td>
  </tr>
  <tr>
    <td>Nikita Wadekar</td>
    <td>Senior</td>
    <td><ul>- Research on datasets</ul>
        <ul>- Proposed 'Forecasting energy consumption'</ul>
        <ul>- Team Engagement</ul>
		<ul>- Project management</ul>
		<ul>- Conducted session on Tableau</ul>

 	</td>
  </tr>
  <tr>
    <td>Sivaram Krishnan</td>
    <td>Senior</td>
    <td><ul>- Researched about client’s future goals and needs.</ul>
        <ul>- Contributed to project ideation phase and scoping.</ul>
        <ul>- Created Trello cards detailing tasks to be completed for the iteration</ul>
        <ul>- Formatted and actively involved on the Trello board. </ul>
        <ul>- Extracted Pedestrian Count datasets using API. Cleaned, Aggregated it and upload to GIT. </ul>
 	</td>
  </tr>
  <tr>
    <td>Rohan Man Amatya</td>
    <td>Senior</td>
    <td><ul>- Suggestion of using time-series forecasting for predicting next n-days pedestrian count.</ul>
        <ul>- Detailed deliverables and task breakdown.</ul>
        <ul>- Researched on usage of sequential Neural Nets and windowing technique for time-series forecasting.</ul>
 	</td>
  </tr>
  <tr>
    <td>Akhila Manchi</td>
    <td>Senior</td>
    <td><ul>- Researched about client’s future goals and needs.</ul>
        <ul>- Contributed to project ideation phase and scoping.</ul>
        <ul>- Created Trello cards detailing tasks to be completed for the iteration</ul>
        <ul>- Formatted and actively involved on the Trello board. </ul>
        <ul>- Extracted Pedestrian Count datasets using API. Cleaned, Aggregated it and upload to GIT. </ul>
 	</td>
  </tr>
  <tr>
    <td>Aparna Chintala</td>
    <td>Senior</td>
    <td><ul>- Researched about client’s future goals and needs.</ul>
        <ul>- Contributed to project ideation phase and scoping.</ul>
        <ul>- Created Trello cards detailing tasks to be completed for the iteration</ul>
        <ul>- Formatted and actively involved on the Trello board. </ul>
        <ul>- Extracted Pedestrian Count datasets using API. Cleaned, Aggregated it and upload to GIT. </ul>
 	</td>
  </tr>
    <tr>
    <td>Jason Tsitsopoulos</td>
    <td>Junior</td>
    <td><ul>- Presented three proposals</ul>
        <ul>- Conducted session on effective communication.</ul>
        <ul>- Team engagement</ul>
 	</td>
  </tr>
    <tr>
    <td>Oscar Wu</td>
    <td>Junior</td>
    <td><ul>- Conducted session on SourceTree</ul>
        <ul>- Proposed ideas to improve interactivity of the web site.</ul>
        <ul>- Collaborated with the team in identifying key deliverables</ul>
 	</td>
  </tr>
    <tr>
    <td>Neet Patel</td>
    <td>Junior</td>
    <td><ul>- Conducted session on effective communication.</ul>
        <ul>- Collaborated with the team in identifying key deliverables</ul>

 	</td>
  </tr>
    <tr>
    <td>Miriam Zhu</td>
    <td>Junior</td>
    <td><ul>- Research on dataset and Vector autoregressive Model</ul>
 	</td>
  </tr>
</table>


           
</body>
{% endblock %}