{% extends "layout.html" %} 
{%block content %}

<body>


		<h2><p style="text-align: justify;">Exploratory Data Analysis on Rainfall</p></h2>    
		<div id={{ chartID|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>
		<script>
			var chart_id = {{ chartID|safe }}
			var series = {{ series|safe }}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script>

		<div id={{ chartID_2|safe }} class="chart" style="width: 1100px"; color: '#efefef'>
		<script>
			var chart_id_2 = {{ chartID_2|safe }}
			var series2 = {{ series2|safe }}
			var title2 = {{ title2|safe }}
			var xAxis2 = {{ xAxis2|safe }}
			var yAxis2 = {{ yAxis2|safe }}
			var chart2 = {{ chart2|safe }}
		</script>
		</div>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
			<script src="../static/rainfall_new.js"></script>


           
</body>  
 
{% endblock %}