{% extends "layout.html" %} 
{%block content %}


<body>
	<h2><p style="text-align: justify;">Exploratory Data Analysis on Recommended Retail Price</p></h2>  
	<div>

		<p style="text-align: justify;">Below are various graphs to help interpret the trends of the predictor variable “Recommended Retail Price” (RRP). Australian Energy Market Operator (AEMO) manages the electricity distribution across Australia, helping to ensure Australians have access to affordable and reliable energy. RRP is the Australian recommended retail price (measured in AUD) of the electricity price per megawatt hour (MWh), which AEMO sets. The RRP value changes on a half-hourly basis. From the below graph, it can be seen that the RRP was negative during some intervals of the day. This means the energy producers were paying consumers rather than vice versa. The COVID-19 lockdown and work-from-home restrictions during the pandemic have increased the energy consumption and the retail price of electricity.</p>
		 
	</div>	

		  
		<div id={{ chartID|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>
		<script>
			var chart_id = {{ chartID|safe }}
			var series = {{ series|safe }}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script>
	<div>

		<p style="text-align: justify;">The below graph showcases the daily RRP distribution using the data source obtained from AEMO. AEMO provides affordable electricity, and from the graph, it can be observed that the maximum frequency occurs under $68 AUD. Various factors can affect the retail price of electricity, therefore the RRP is finalised on the 2nd business day of the following month. The price data is reviewed following National Electricity Rule 3.8.1 (c) and the Over Constrained Dispatch procedure.</p>
		 
	</div>	
		<div id={{ chartID_5|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>	
		<script>
			var chart_id_5 = {{ chartID_5|safe }}
			var series5 = {{ series5|safe }}
			var title5 = {{ title5|safe }}
			var xAxis5 = {{ xAxis5|safe }}
			var yAxis5 = {{ yAxis5|safe }}
			var chart5 = {{ chart5|safe }}
		</script>

	<div>

		<p style="text-align: justify;">The below graph showcases the average retail price that the AEMO regulates per month. It can be observed that January has the highest RRP value. In January, the daytime temperature is typically higher, and climate change has a significant impact on Australians' activities. AEMO operates the electricity markets by allowing energy-related services to be bought and sold in a competitive environment. The organization schedules the energy at the lowest available prices and settles trades.</p>
		 
	</div>
			<div id={{ chartID_2|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>
		
		<script>
			var chart_id_2 = {{ chartID_2|safe }}
			var series2 = {{ series2|safe }}
			var title2 = {{ title2|safe }}
			var xAxis2 = {{ xAxis2|safe }}
			var yAxis2 = {{ yAxis2|safe }}
			var chart2 = {{ chart2|safe }}
		</script>
	<div>		
		
		<p style="text-align: justify;">The below histogram showcases the average retail price the AEMO regulates per week. From the graph, the highest retail price is calculated on Thursday. The spike in the retail price means that the organization generates a large amount of electricity on Thursday, which significantly impacts the retail price. The retail price is directly proportional to the wholesale price, i.e., as the production cost increases, so do the retail price.</p>
	</div>	
		
		<div id={{ chartID_3|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>
	
		<script>
			var chart_id_3 = {{ chartID_3|safe }}
			var series3 = {{ series3|safe }}
			var title3 = {{ title3|safe }}
			var xAxis3 = {{ xAxis3|safe }}
			var yAxis3 = {{ yAxis3|safe }}
			var chart3 = {{ chart3|safe }}
		</script>
	
	
	<div>
			
		<p style="text-align: justify;">The below scatter plot represents the electricity demand and the RRP for AEMO. AEMO is Australia’s largest electricity market which helps to ensure that Australians have access to reliable energy over the years to come. The RRP is directly proportional to the electricity wholesale price. When the observed value for RRP is above 1000 on certain days, it can be concluded as AEMO having a higher wholesale price of electricity. The energy consumption is higher on those specific days due to which there is a significant rise in the retail price of the electricity.</p>
				 
	</div>	
		<div id={{ chartID_6|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>	
		<script>
			var chart_id_6 = {{ chartID_6|safe }}
			var series6 = {{ series6|safe }}
			var title6 = {{ title6|safe }}
			var xAxis6 = {{ xAxis6|safe }}
			var yAxis6 = {{ yAxis6|safe }}
			var chart6 = {{ chart6|safe }}
		</script>
	<div>
			
		<p style="text-align: justify;">The below scatter plot represents the RRP against the energy consumption after removing RRP values above 1000. After pre-processing the data, the data points in the scatter plot can be observed. The data points in the lower-left region of the scatter plot represent a low RRP value. When the energy consumption is low, then the production cost is also low. As a result, the wholesale cost is also low which results in a decreased RRP value. On the other hand, as the RRP value increases, so does the amount of energy consumed by Victorians. It should also be noted that the RRP value is negative in some scenarios, indicating that AEMO faced a potential financial loss.</p>
				 
	</div>	
		<div id={{ chartID_4|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>	
		<script>
			var chart_id_4 = {{ chartID_4|safe }}
			var series4 = {{ series4|safe }}
			var title4 = {{ title4|safe }}
			var xAxis4 = {{ xAxis4|safe }}
			var yAxis4 = {{ yAxis4|safe }}
			var chart4 = {{ chart4|safe }}
		</script>
	<div>
			
		<p style="text-align: justify;">The Prophet model is a time-series forecasting model based on an additive model. The Prophet model will be used to predict the RRP values from March 2021 to August 2021. In the graph below, it can be observed that the predicted RRP values follows the same trend as the actual RRP values. Due to a certain level of accuracy, it will be reliable when forecasting the energy consumption.</p>
				 
	</div>	


		<div id={{ chartID_7|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>	
		<script>
			var chart_id_7 = {{ chartID_7|safe }}
			<!-- var series7 = {{ series7|safe }} -->
			var data7 = {{data7|safe}}
			var data7_2 = {{data7_2|safe}}
			var title7 = {{ title7|safe }}
			var xAxis7 = {{ xAxis7|safe }}
			var yAxis7 = {{ yAxis7|safe }}
			var chart7 = {{ chart7|safe }}
		</script>
		
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
			<script src="../static/rrp.js"></script>
			<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script src="https://code.highcharts.com/modules/accessibility.js"></script>
</body>
	
	


<script type = "text/javascript" src = "/static/bootstrap.min.js"></script>

{% endblock %}
