<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chameleon - MOP AI  {{ title }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <!-- Sidebar toggle -->
        <input type="checkbox" id="sidebar-toggle">
        <label for="sidebar-toggle" class="toggle-button">☰ Menu</label>

        <!-- Sidebar -->
        <div class="sidebar">
            <img src="/static/images/cham_logo.png" alt="Company Logo">
            <div class="menu">
                <a class="{{ 'active' if request.path == '/' else '' }}" href="/">Home</a>
                <a class="{{ 'active' if request.path == url_for('chatbot_main') else '' }}" href="/chatbot_main">Chatbot</a>
                <a class="{{ 'active' if request.path == url_for('health_main') else '' }}" href="/health_main">Health Behaviour</a>
                <a class="{{ 'active' if request.path == url_for('traffic_main') else '' }}" href="/traffic_main">Traffic Analysis</a>
                <a class="{{ 'active' if request.path == url_for('vehicle_main') else '' }}" href="/vehicle_main">Vehicle Classification</a>
            </div>
        </div>
    </header>

    <main>
        <h1>
            Chameleon &nbsp; &nbsp;  | &nbsp; &nbsp; 
            City of Melbourne Open Data &nbsp; &nbsp; | &nbsp; &nbsp; 
            Artificial Intelligence  {{ title }}</h1>
        <div class="content">
            <br>
            {% block content %}
            <!-- Content to be injected here -->
            {% endblock %}
            <br>
            <br>
            <br>
            <br>
        </div>

        

        <div id="help">
            <button id="helpButton">?</button>
        </div>

        <div id="modalOverlay"></div>

        <div id="helpModal">
            <h2>Need Help?</h2>
            <p>Contact us at <a href="mailto:support@example.com">email</a> or call phone number.</p>
            <button class="closeButton" id="closeButton">Close</button>
        </div>

        <script>
            const helpButton = document.getElementById('helpButton');
            const helpModal = document.getElementById('helpModal');
            const modalOverlay = document.getElementById('modalOverlay');
            const closeButton = document.getElementById('closeButton');

// Open modal
            helpButton.addEventListener('click', () => {
                helpModal.style.display = 'block';
                modalOverlay.style.display = 'block';
            });

// Close modal
            closeButton.addEventListener('click', () => {
                helpModal.style.display = 'none';
                modalOverlay.style.display = 'none';
            });

// Close modal when clicking outside of it
            modalOverlay.addEventListener('click', () => {
                helpModal.style.display = 'none';
                modalOverlay.style.display = 'none';
                });
            </script>

        </main>

    <footer>
        <div class="footer-section">
            <p>&copy; 2024 Copyright reserved by Chameleon</p>
            <p>Contact us: PH: 03 5975 6586 | E: info@chameleon.com.au</p>
        </div>
    </footer>
</body>
</html>