{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2 class="section_heading">OUR MISSION</h2>
    <br>
    <p class="main_cent_text">
        In Chameleon, our mission is to research, create, test, document <br>
        and deploy AI and IoT-based solutions to enhance life through the  <br>
        application of smart city technologies, including the building of smarter  <br>
        cities, homes, transportation, and energy management systems. <br>
    </p>

    <div class="button-container">
        <div class="links-column">
            <a href="/chatbot_main" class="home_button">CHATBOT</a>
            <a href="/health_main" class="home_button">HEALTH BEHAVIOUR</a>
            <a href="/traffic_main" class="home_button">TRAFFIC ANALYSIS</a>
            <a href="/vehicle_main" class="home_button">VEHICLE CLASSIFICATION</a>
        </div>
        <div class="image-column">
            <img src="/static/images/deakin_logo.png" alt="Deakin Logo">
        </div>
    </div>



{% endblock %}