.sidenav {
    height: 100vh; /* 100% Full-height */
    width: 15.8rem; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    
    box-shadow: 0px 0px 50px 0px rgb(0, 0, 0, .28);
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s;  /*0.5 second transition effect to slide in the sidenav */
  }

  .logoText {
    overflow: hidden;
    
  }
  /* Side navbar Header */ 
  .sideHead{
      display: block;
      border-bottom: 1px solid #dedede;
    padding: 1.38vh;
    
  }
  
  /* The navigation menu links */
  .sidenav .sideTabs {
    /* margin: 1.375rem; */
    background-color: white;
    margin-top:3rem;
    border-radius: .6rem;
    width: 11rem;
    transition: 0.3s;
    box-shadow: none;
    padding: 0.6rem 0.2rem 0.6rem 0.2rem;
  }
  
  /* When you mouse over the navigation links, change their color */
  /* .sidenav a:hover {
    color: #f1f1f1;
  }
   */
   .sidenav .sideBody{
       margin-top: 4vh;
   }
  /* Position and style the close button (top right corner) */
  /* .sidenav .closebtn {
    position: relative;
    
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  } */
  .logoText{
    transition: display 0.5s;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    margin-left: 15.8rem;
    transition: margin-left .5s;
    
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav .sideTabs {font-size: 18px;}
  }