@charset "utf-8";
.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  text-align: center;
}

.form-group {
  margin: auto;
  width: 20%;
  border: 0.5px solid rgba(85,85,85,0.40);
  padding: 10px;
  text-align: center;
  background-color: #cccc;
}

.buttondiv {
  text-align: center;
  margin: auto;
  width: 15%;
}

.wrapper {
	background-image: url("back.jpg")
}