[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "==0.52.0"
flask = "*"
geopandas = "*"
pandas = "*"
sodapy = "*"

[dev-packages]

[requires]
python_version = "3.7"
