{% extends "base.html" %}

{% block title %}Vehicle Classification{% endblock %}

{% block content %}
<style>
    body {
        background: url(https://media.istockphoto.com/id/2155769551/photo/digital-data-tunnel-information-flow.jpg?s=612x612&w=is&k=20&c=GMFSeX4LEWsMgdDzsKOuINq1kWNg6adXI9aJGihZ-6g=);
        background-repeat: no-repeat;
    }
</style>
    <h2 class="section_heading"; style="color:white;">Vehicle Classification</h2>
    <br>
    <div class="main_cent_text">
        <p style="color:white;">Information on what we are doing with the Vehicle stuff</p>
        <br>
        <p>
            Projects:
            <li><a href="/vehicle_detect">Vehicle Dectection</a></li>
        </p>
    </div>
{% endblock %}