{% extends "layout.html" %} 
{%block content %}


<body>
	
	<div>

		<h2><p style="text-align: justify;">Prediction for Bourke Street Mall South</p></h2>
	
		<p style="text-align: justify;">The prediction was made by using various weather variables and calendar data (day of the week, public holidays etc.) With an R2 of 0.21 this shows that the prediction is weak and perhaps should not be used in decision making.  The prediction has been heavily influenced by the previous year’s data and could be considered as a negative outlook or a minimum benchmark.  As Covid-19 has been an unprecedented event and rolling restrictions have been applied at random times it is extremely difficult to predict.  Whilst having more access to data would be beneficial to the model it may ultimately become fruitless as there are too many unknowns.</p>
		 
	</div>	
		
		<div id={{ chartID|safe }} class="chart" style="height: 800px; width: 1100px"; color: '#efefef'></div>
		<script>
			var chart_id = {{ chartID|safe }}
			var data1 = {{data1|safe}}
			var data1_2 = {{data1_2|safe}}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
			<script src="../static/Bourke_Street_Mall_South.js"></script>

</body>
	
	


<script type = "text/javascript" src = "/static/bootstrap.min.js"></script>

{% endblock %}