{% extends "layout.html" %} 
{%block content %}


<body>
	<h2><p style="text-align: justify;">Energy forecast for Melbourne City</p></h2>  
	<div>

		<p style="text-align: justify;">This deliverable of our project involves forecasting energy demand within the COM. Since electricity cannot be stored in a large quantity, making accurate forecasts for matching the electricity supply and demand plays a key role. Further, the estimates of electricity demand from March 2021 – August 2021, depicted below, would enhance the council’s ability to make appropriate decisions regarding the capacity of the renewable energy sources that can support the volume of energy being consumed. The dataset for the energy consumption has been sourced from the Australian energy market operator (AEMO). </p>
		 
	</div>	

		  
	<div>
			
		<p style="text-align: justify;">The electricity demand is impacted by several factors, including the weather parameters (min temperature, max temperature, solar exposure, rainfall) and the recommended retail price(RRP). We have also considered the public holidays and school day data. The prophet multivariate time series model was chosen for forecasting the electricity demand due to its accuracy in following the trend of the original data. The line chart below depicts the electricity demand in the Melbourne CBD from Jan 2015 – August 2021. The blue colour represents the actual data, while the black colour represents the predicted electricity demand. </p>
				 
	</div>	


		<div id={{ chartID|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>	
		<script>
			var chart_id = {{ chartID|safe }}
			<!-- var series7 = {{ series7|safe }} -->
			var data1 = {{data1|safe}}
			var data1_2 = {{data1_2|safe}}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script>
		
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
			<script src="../static/energy_forecast.js"></script>
			<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script src="https://code.highcharts.com/modules/accessibility.js"></script>
</body>
	
	


<script type = "text/javascript" src = "/static/bootstrap.min.js"></script>

{% endblock %}
