{% extends "layout.html" %} 
{%block content %}


<body>
	<div>

		<h2><p style="text-align: justify;">Exploratory Data Analysis on Maximum Temperature</p></h2>
	
		<p style="text-align: justify;">Below are various graphs to help interpret what is happening to the predictor variable “Maximum Temperature”.  We believe that maximum temperature affects how many people will be in the city (the variable to which we want to find out).  In the first scatter plot maximum temperature tends to follow a sin trend but heavily weighted towards maximum values.  To find out more the box plots by month shows this in detail.</p>
		 
	</div>	

		<div id={{ chartID|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>	
		<script>

 			var data = {{data |safe}}
			var chart_id = {{ chartID|safe }}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script>
	<div>		
		<p style="text-align: justify;">The box plots of maximum temperature by month show a clear trend between each month.  What is interesting to note is that there are large maximum whiskers meaning that there are quite large temperature variations leaning towards the hotter side.  For example, in January one quarter of the temperatures lie between 30 °C and 43 °C.  This confirms the observation from the previous graph that there is a skew towards higher temperatures, which may suggest that heatwaves are frequent.  </p>			 
	</div>	
			<div id={{ chartID_2|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>
		<script>
			var chart_id_2 = {{ chartID_2|safe }}
			var title2 = {{ title2|safe }}
			var xAxis2 = {{ xAxis2|safe }}
			var yAxis2 = {{ yAxis2|safe }}
			var chart2 = {{ chart2|safe }}
		</script>		

	
	<div>
		
		<p style="text-align: justify;">When looking at the histogram it is clear that our observations from the previous two graphs are substantiated.  With a skew of 0.86 this shows the clear skew towards higher temperatures.</p>
				 
	</div>	

		<div id={{ chartID_5|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>
		
		<script>
			var chart_id_5 = {{ chartID_5|safe }}
			var series5 = {{ series5|safe }}
			var title5 = {{ title5|safe }}
			var xAxis5 = {{ xAxis5|safe }}
			var yAxis5 = {{ yAxis5|safe }}
			var chart5 = {{ chart5|safe }}
		 </script>		

	<div>
		
		<p style="text-align: justify;">The prediction neatly follows the same trend as the actual values.  As such it will be reliable when calculating the pedestrian counts. </p>
				 
	</div>
	
				<div id={{ chartID_7|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>	
		<script>
			var chart_id_7 = {{ chartID_7|safe }}
			var data = {{data |safe}}
			var data7_2 = {{data7_2|safe}}
			var title7 = {{ title7|safe }}
			var xAxis7 = {{ xAxis7|safe }}
			var yAxis7 = {{ yAxis7|safe }}
			var chart7 = {{ chart7|safe }}
		</script>
		
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
			<script src="../static/max_temp.js"></script>
			<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script src="https://code.highcharts.com/modules/accessibility.js"></script>
			<script src="https://code.highcharts.com/highcharts-more.js"></script>
			<script src="https://code.highcharts.com/modules/export-data.js"></script>
</body>
	
	


<script type = "text/javascript" src = "/static/bootstrap.min.js"></script>

{% endblock %}
