{% extends "layout.html" %} 
{%block content %}
  
    

 
 
 
 
 
<body>
	<div>

		<h2><p style="text-align: justify;">Exploratory Data Analysis on Solar Exposure</p></h2>

		<p style="text-align: justify;">The purpose of this page is to explore the trends in one of the predictor variables the solar exposure, we believe this variable impacts pedestrian count which our client intends to make appropriate decisions to promote. The cumulative amount of solar energy that falls on a horizontal surface is referred to as the global solar exposure. Daily global sun exposure is the cumulative amount of solar energy received during a single day. Regular global exposure levels are usually between 1 and 35MJ/m2 (megajoules per square metre). For mid-latitudes, values are typically higher during summer's bright sun and lowest during winter or very cloudy days. The Dataset was sourced from the bureau of metrology website. The data from BOM website ranges from 1990 to date however we are only considering a subset of the dataset from 2015 to date as one of our predictor variables.</p>
         
	</div>	

		
	<div id={{ chartID|safe }} class="chart" style="height: 500px; width: 1100px"></div>
		<script>
			var chart_id = {{ chartID|safe }}
			var data = {{data |safe}}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script>
		
	<div>
			
		<p style="text-align: justify;"> </p>
		 
	</div>	
	
	<div id={{ chartID_5|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>
		
		<script>
			var chart_id_5 = {{ chartID_5|safe }}
			var series5 = {{ series5|safe }}
			var title5 = {{ title5|safe }}
			var xAxis5 = {{ xAxis5|safe }}
			var yAxis5 = {{ yAxis5|safe }}
			var chart5 = {{ chart5|safe }}
		</script>

						

	<div>
	
		<p style="text-align: justify;"> </p>  		
		
	</div>			
		<div id={{ chartID_2|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>
		
		<script>
			var chart_id_2 = {{ chartID_2|safe }}
			var series2 = {{ series2|safe }}
			var title2 = {{ title2|safe }}
			var xAxis2 = {{ xAxis2|safe }}
			var yAxis2 = {{ yAxis2|safe }}
			var chart2 = {{ chart2|safe }}
		</script>
		
	<div>
		
		<p style="text-align: justify;"> </p>
		 
	</div>	


		<div id={{ chartID_3|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>
	
		<script>
			var chart_id_3 = {{ chartID_3|safe }}
			var series3 = {{ series3|safe }}
			var title3 = {{ title3|safe }}
			var xAxis3 = {{ xAxis3|safe }}
			var yAxis3 = {{ yAxis3|safe }}
			var chart3 = {{ chart3|safe }}
		</script>
	<div>

			
		<p style="text-align: justify;"> </p>
		 
	</div>	
		

		<div id={{ chartID_4|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>
	
		<script>
			var chart_id_4 = {{ chartID_4|safe }}
			var series4 = {{ series4|safe }}
			var title4 = {{ title4|safe }}
			var xAxis4 = {{ xAxis4|safe }}
			var yAxis4 = {{ yAxis4|safe }}
			var chart4 = {{ chart4|safe }}
		</script>
				
	<div>

			
		<p style="text-align: justify;"> </p>
		 
	</div>					
				
		<div id={{ chartID_7|safe }} class="chart" style="width: 1100px"; color: '#efefef'></div>	
		<script>
			var chart_id_7 = {{ chartID_7|safe }}
			var data = {{data |safe}}
			var data7_2 = {{data7_2|safe}}
			var title7 = {{ title7|safe }}
			var xAxis7 = {{ xAxis7|safe }}
			var yAxis7 = {{ yAxis7|safe }}
			var chart7 = {{ chart7|safe }}
		</script>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>

		<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/accessibility.js"></script>

		<script src="../static/solar_exp.js"></script>

</body>
	
	


<script type = "text/javascript" src = "/static/bootstrap.min.js"></script>
{% endblock %}