{% extends "layout.html" %} 
{%block content %}
            <br>

    <div class="row">
        <div class="col-md-12 text-center">
            <h4>Independent Variables </h4>
            <table border = "5" align = center>

                <tr>
                    <th>
                        Date
                    </th>
                    <td>
                        {{independent_variables['date']}}
                    </td>

                </tr>
                <tr>
                    <th>
                        Year
                    </th>
                    <td>
                        {{independent_variables_year}}
                    </td>
                    
                </tr>
                <tr>
                    <th>
                        Day of the Year
                    </th>
                    <td>
                        {{independent_variables_day_of_year}}
                    </td>
                    
                </tr>
                <tr>
                    <th>
                        Monthly Index
                    </th>
                    <td>
                        {{independent_variables_month}}
                    </td>
                    
                </tr>
                <tr>
                    <th>
                        Week Index
                    </th>
                    <td>
                        {{independent_variables_week_index}}
                    </td>
                    
                </tr>
                <tr>
                    <th>
                        Rainfall
                    </th>
                    <td>
                        {{independent_variables['rainfall']}}
                    </td>
                    
                </tr>    
                <tr>
                    <th>
                        Solar Exposure
                    </th>
                    <td>
                        {{independent_variables['solar_exposure']}}
                    </td>
                    
                </tr>   
                <tr>
                    <th>
                        Minimum Temperature
                    </th>
                    <td>
                        {{independent_variables['minimum_temperature']}}
                    </td>
                    
                </tr>   
                <tr>
                    <th>
                        Maximum Temperature
                    </th>
                    <td>
                        {{independent_variables['maximum_temperature']}}
                    </td>
                    
                </tr>   
                <tr>
                    <th>
                        Public Holiday
                    </th>
                    <td>
                        {{independent_variables['public_holiday']}}
                    </td>
                    
                </tr> 
                <tr>
                    <th>
                        Government restriction
                    </th>
                    <td>
                        {{independent_variables['restriction']}}
                    </td>
                    
                </tr>             
            </table>
            <br>
            <br>
            <h4> {{prediction_text}}</h4>
            <br>
        </div>
    </div>

{% endblock %}

