node_modules
.next
.swc
.git
.gitignore
.env
.env.local
.env.*
logs
coverage
cypress/videos
cypress/screenshots
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pdf
jupyter
my-app
Web_Design_Templates
Postgres-Design
markdownAssets