{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='styles/base-styles.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='./theme_controller.js') }}">
</script>
{% endblock %}


{% block content %}
<div class="page-container">
    <!-- <button id="dt-btn" class="theme-btn">Toggle Theme</button> -->
    <div class="image-header">
        <img src="../../static/images/city_of_melbourne_skyline.jpg" alt="Melbourne Skyline" style="height: 20em; width: 100%">
        <div class="bottom-left-text">
            Explore real business use cases in order to experience the City of Melbourne's Open Data Platform.
        </div>
    </div>
    <div class="container">
            <section class="hero">
                <div class="has-text-centered">
                    <p class="subtitle" style="color: black; font-weight:700; padding: 1em 1em">
                        Use cases
                    </p>
                </div>
            </section>
            <section class="use-cases">
                <section class="panel has-background-white">
                    <div class="panel-block">
                        <div class="block" style="flex-grow: 1">
                            <div class="subtitle content">
                                <div class="table-container">
                                    <table id="use-case-table">
                                        <tr class="row">
                                            <th>Use Case</th>
                                            <th>Difficulty
                                                <span class="dot easy"></span>
                                                <span class="dot intermediate"></span>
                                                <span class="dot advanced"></span>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <section class="hero">
                <div class="has-text-centered">
                    <p class="subtitle" style="color: black; font-weight:700; padding: 1em 1em">
                        Datasets
                    </p>
                </div>
            </section>
            <section class="datasets">
                <section class="panel has-background-white">
                    <div class="panel-block">
                        <div class="block" style="flex-grow: 1">
                            <div class="subtitle content">
                                <div class="table-container">
                                    <table id="dataset-table">
                                        <tr class="row">
                                            <th>Dataset</th>
                                            <th>Downloads
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
    </div>
</div>

<script src="{{url_for('static', filename='homepage.js')}}"></script>
{% endblock %}